@{
    /*****************************************************************
    // Programmed by SungHO Kim (Migration: Yoona Sim)
    // KimsQ-Rx (for Microsoft Razor)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    *****************************************************************/
    
    var typeset = new Dictionary<string, string>();

    var g = PageData[0];
    var m = PageData[3];
    var _HS = PageData[5];
    var system = PageData[7];
    var d_layout = PageData[8];
    var s = PageData[9];
    var r = PageData[12];
    var _HP = PageData[13];
    int p = PageData[4];

    dynamic date = _System.GetVDate(_HS["timecal"]);
    dynamic d_search = _DB.Get_code("search");
    
    string bbsque = Request["bbsque"];
    string bbsuid = Request["bbsuid"];
    string sort = Request["sort"];
    string orderby = Request["orderby"];
    string recnum = Request["recnum"];
    string keyword = Request["keyword"];
    string ikeyword = Request["ikeyword"];

    DateTime now_date2 = date["totime"];
    string now_date = now_date2.ToString("yyMMdd");
    string d_search_date = now_date2.AddMonths(-Convert.ToInt32(d_search["s_term"])).ToString("yyMMdd");


    @RenderPage("_menu.cshtml", g, m)    

    if (sort == null || sort == "")
    {
        sort = "gid";
    }
    if (orderby == null || orderby == "")
    {
        orderby = "asc";
    }
    if (recnum == null || recnum == "" || Convert.ToInt32(recnum) >= 200)
    {
        recnum = d_search_date;
    }

    if (bbsuid != null && bbsuid != "")
    {
        bbsque += " and bbs=" + bbsuid;
    }
    
    bbsque += _System.getSearchSql("subject|content", keyword, ikeyword, "OR");

    int list_start = (p - 1) * Convert.ToInt32(recnum);

    string RCD_sql = _System.GetQuery(AppState["table_s_comment"].ToString(), "", "site='" + s + "' AND display=1" + bbsque, sort, orderby, list_start, recnum);
    int NUM = _DB.GetDbData_Count(AppState["table_s_comment"].ToString(), "site='" + s + "' AND display=1" + bbsque);

    decimal TPG = _System.getTotalPage(Convert.ToDecimal(NUM), Convert.ToDecimal(recnum));

    if (keyword == null || keyword == "")
    {
        NUM = 0;
    }
    
    if(NUM != 0) {
        <div id="s_comment">

	        <div class="subtitle">
		        <div class="xleft">댓글(검색결과 @string.Format("{0:#,0}", Convert.ToInt32(NUM))개)</div>
		        <div class="xright"><a href="@g["url_reset"]">통합검색</a></div>
		        <div class="clear"></div>
	        </div>


	        <div class="postbox">

                @foreach (var R in _DB.Query(RCD_sql))
                {                
                    string _link = _System.getCyncURL(R["cync"] + ",CMT:" + R["uid"], g, _HS);
	                <div class="sbjbox">
		                <a href="@_link#CMT" class="subject">@R["subject"]</a>
		                <a href="@_link#CMT" target="_blank"><img src="@g["img_core"]/_public/ico_blank.gif" alt="" title="새창으로보기" /></a>
                        @if(R["content"].Contains(".jpg")) {
                            <img src="@g["img_core"]/_public/ico_pic.gif" class="imgpos" alt="사진" title="사진" />
                        }
                        @if(R["upload"] != "") {
                            <img src="@g["img_core"]/_public/ico_file.gif" class="imgpos" alt="첨부파일" title="첨부파일" />
                        }

                        @if(R["oneline"] != 0) {
                            <span class="comment">[@R["oneline"]]</span>
                        }
                    
		                <span class="info">
			                @R["d_regis"].ToString("yyyy.MM.dd HH:mm") | 
			                @R[_HS["nametype"]]
		                </span>
	                </div>
	                <div class="shotcont">@_System.getStrCut(_System.Strip_tags(R["content"]), 150, "...")</div>
                }
	        </div>

        </div>
        <div class="pagebox01">
        <script type="text/javascript">getPageLink(10,@p,@TPG,'@g["img_core"]/page/default');</script>
        </div>    
    }
    else {
        <div id="s_result">
        <img src="@g["img_core"]/_public/ico_notice.gif" alt="" />
        검색결과가 없습니다.
        </div>    
    }
}