@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: YoonA Shim, TaiHyung Kim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/   
    var g = PageData[0];
    var r = PageData[1];
    var d_layout = PageData[2];
    
    string _themeConfig = Request["_themeConfig"];
    string title_color = "";
    string title_color1 = "";
    string memberlink_color = "";
    string homestr_use = "";
    string imglogo_use = "";
    string bg_use = "";
    
    dynamic LAYOUT_ARR = _DB.Get_code_layout(d_layout["dir"]);    
    
    if(LAYOUT_ARR["title_color"] != "")
    {
        title_color = LAYOUT_ARR["title_color"].Substring(1, 6);
    }
    if(LAYOUT_ARR["title_color1"] != "")
    {
        title_color1 = LAYOUT_ARR["title_color1"].Substring(1, 6);
    }
    if(LAYOUT_ARR["memberlink_color"] != "")
    {
        memberlink_color = LAYOUT_ARR["memberlink_color"].Substring(1, 6);
    }
    if(LAYOUT_ARR["homestr_use"] == "1")
    {
        homestr_use = "checked='checked'";
    }
    if(LAYOUT_ARR["imglogo_use"] == "1")
    {
        imglogo_use = "checked='checked'";
    }
    if(LAYOUT_ARR["bg_use"] == "1")
    {
        bg_use = "checked='checked'";
    }
}
    
<div class="guide">
<span class="b">디테일한 설정을 통해 나만의 디자인을 완성할 수 있습니다.</span><br /><br />
홈페이지 제목을 변경하거나 이미지로고,배경이미지 등을 설정할 수 있습니다.<br />
아래의 설정을 통해 더 보기좋은 디자인을 완성해 보세요.<br /> 
변경사항이 적용되지 않을 경우 새로고침해 주세요.<br /> 
</div>

<form name="themeForm" method="post" action="@g["s"]/" enctype="multipart/form-data" onsubmit="return configCheck1(this);">
<input type="hidden" name="r" value="@r" />
<input type="hidden" name="_layoutAction" value="config" />
<input type="hidden" name="nowLayout" value="@d_layout["dir"]" />
<input type="hidden" name="changeType" value="@_themeConfig" />


<table>
<tr>
<td class="t1">홈페이지 제목</td>
<td class="t2">:</td>
<td class="t3">
	<input type="text" name="title" class="input" value="@LAYOUT_ARR["title"]" /> 색상코드 
	<input type="text" name="title_color" id="title_color_" class="input sf1" value="@LAYOUT_ARR["title_color"]" maxlength="7" />
	<img src="@g["img_core"]/_public/btn_color.gif" class="hand" alt="" onclick="getLayerBox('@g["s"]/_core/opensrc/colorjack/color.cshtml?color=@title_color&dropf=title_color_&callback=colorChange','색상선택',220,260,event,'','r');" /> 
	<span class="small">(공백:기본값)</span>
</td>
</tr>
<tr>
<td class="t1">홈페이지 소제목</td>
<td class="t2">:</td>
<td class="t3">
	<input type="text" name="ment" class="input" value="@LAYOUT_ARR["ment"]" /> 색상코드
	<input type="text" name="title_color1" id="title_color1_" class="input sf1" value="@LAYOUT_ARR["title_color1"]" maxlength="7" />
	<img src="@g["img_core"]/_public/btn_color.gif" class="hand" alt="" onclick="getLayerBox('@g["s"]/_core/opensrc/colorjack/color.cshtml?color=@title_color1&dropf=title_color1_&callback=colorChange','색상선택',220,260,event,'','r');" /> 
	<span class="small">(공백:기본값)</span>
</td>
</tr>

<tr>
<td class="t1">메뉴출력 옵션</td>
<td class="t2">:</td>
<td class="t3">
	<input type="text" name="homestr" class="input sf1" value="@LAYOUT_ARR["homestr"]" />
	<label><input type="checkbox" name="homestr_use" value="1" @Html.Raw(homestr_use) />출력</label> / 대메뉴 
	<select name="menunum">
	@for(int i = 1; i < 11; i++)
    {
        string menu_sel_str = "";
        
        if(Convert.ToInt32(LAYOUT_ARR["menunum"]) == i)
        {
            menu_sel_str = "selected='selected'";
        }
    	<option value="@i.ToString()" @Html.Raw(menu_sel_str)>@Html.Raw(i+"개")</option>        
    }
	</select>
	<span class="small">(개 이상일 경우 더보기 메뉴로 대체)</span>
</td>
</tr>

<tr>
<td class="t1">멤버링크 색상</td>
<td class="t2">:</td>
<td class="t3">
	<input type="text" name="memberlink_color" id="memberlink_color_" class="input sf1" value="@LAYOUT_ARR["memberlink_color"]" />
	<img src="@g["img_core"]/_public/btn_color.gif" class="hand" alt="" onclick="getLayerBox('@g["s"]/_core/opensrc/colorjack/color.cshtml?color=@memberlink_color&dropf=memberlink_color_&callback=colorChange','색상선택',220,260,event,'','r');" />
	<span class="small">(공백:기본값)</span>
</td>
</tr>
<tr>
<td class="t1">헤더 여백(상/하)</td>
<td class="t2">:</td>
<td class="t3">
	<input type="text" name="title_padding_top" class="input sf" value="@LAYOUT_ARR["title_padding_top"]" maxlength="3" /> /
	<input type="text" name="title_padding_btm" class="input sf" value="@LAYOUT_ARR["title_padding_btm"]" maxlength="3" /> <span class="small">픽셀</span>
</td>
</tr>
<tr>
<td class="t1">제목 여백(상/하)</td>
<td class="t2">:</td>
<td class="t3">
	<input type="text" name="title_t" class="input sf" value="@LAYOUT_ARR["title_t"]" maxlength="3" /> / 
	<input type="text" name="title_b" class="input sf" value="@LAYOUT_ARR["title_b"]" maxlength="3" /> <span class="small">픽셀</span>
</td>
</tr>
<tr>
<td class="t1">이미지 로고</td>
<td class="t2">:</td>
<td class="t3">
<input type="file" name="upfile" class="file" value="" />
<input type="checkbox" name="imglogo_use" value="1" @Html.Raw(imglogo_use) />사용함
</td>
</tr>

@if(File.Exists(g["path_root_ps"] + g["path_layout"] + d_layout["dir"] + "\\_var\\" + LAYOUT_ARR["imglogo"]) == true)
{
    <tr>
    <td class="t1">로고사이즈 조정</td>
    <td class="t2">:</td>
    <td class="t3">
    <input type="text" name="imglogo_w" class="input sf" value="@LAYOUT_ARR["imglogo_w"]" maxlength="3" />*<input type="text" name="imglogo_h" class="input sf" value="@LAYOUT_ARR["imglogo_h"]" maxlength="3" /> 픽셀
    </td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td class="t3">
    <br />
    <img src="@Html.Raw(g["s"] + "/layouts/" + d_layout["dir"] + "/_var/" + LAYOUT_ARR["imglogo"])" width="@LAYOUT_ARR["imglogo_w"]" height="@LAYOUT_ARR["imglogo_h"]" alt="" style="background:#000000;" />
    <br /><br />
    <a href="@g["s"]/?r=@r&amp;_layoutAction=logodelete&amp;&imgType=logo&amp;nowLayout=@d_layout["dir"]" onclick="return hrefCheck(this,true,'정말로 삭제하시겠습니까?');">이 로고를 삭제하기</a>
    <br />
    <br />
    </td>
    </tr>    
}

<tr>
<td class="t1">전체배경 이미지</td>
<td class="t2">:</td>
<td class="t3">
<input type="file" name="upfile1" class="file" value="" />
<input type="checkbox" name="bg_use" value="1" @bg_use />배경 이미지/CSS 사용함
</td>
</tr>
<tr>
<td class="t1">전체배경 CSS</td>
<td class="t2">:</td>
<td class="t3">
<input type="text" name="bg_o" id="bg_o" class="input" value="@LAYOUT_ARR["bg_o"]" />
<a href="#." onclick="getId('bg_o').value='top center repeat-x #F8F5F0';getId('bg_o').focus();">상단반복(기본값)</a>
<a href="#." onclick="getId('bg_o').value='top center no-repeat #F8F5F0';getId('bg_o').focus();">상단 무반복</a>
<a href="#." onclick="getId('bg_o').value='center center repeat-x #F8F5F0';getId('bg_o').focus();">중앙 반복 </a>
<a href="#." onclick="getId('bg_o').value='bottom center repeat-x #F8F5F0';getId('bg_o').focus();">하단 반복</a>
</td>
</tr>
@if(File.Exists(g["path_root_ps"] + g["path_layout"] + d_layout["dir"] + "\\_var\\" + LAYOUT_ARR["bg"]) == true)
{
    <tr>
    <td></td>
    <td></td>
    <td class="t3">
    <br />
    <img src="@Html.Raw(g["s"] + "/layouts/" + d_layout["dir"] + "/_var/" + LAYOUT_ARR["bg"])" height="50" alt="" />
    <br /><br />
    <a href="@g["s"]/?r=@r&amp;_layoutAction=logodelete&amp;imgType=bg&amp;nowLayout=@d_layout["dir"]" onclick="return hrefCheck(this,true,'정말로 삭제하시겠습니까?');">이 배경 이미지 삭제하기</a>
    <br />
    <br />
    </td>
    </tr>    
}

<tr>
<td></td>
<td></td>
<td><br /><br /><input type="submit" value=" 변경하기 " class="btnblue" /></td>
</tr>
</table>

</form>