@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: TaiHyung Kim, YoonA Sim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/
    

    var g = PageData[0];
    var p = PageData[4];
    var _HS = PageData[5];
    var NCD = PageData[18];
    var RCD = PageData[19];

    string uid = g["uid"];

    int TPG = Convert.ToInt32(g["TPG"]);
    int NUM = Convert.ToInt32(g["NUM"]);
    int _ol = 0;
}


<div id="clist">
    @foreach (var R in NCD)
    {   // notice comment

        string mobile_chk = _System.isMobileConnect(R["agent"]);
        string hidden_prn = _System.getStrCut(_System.Strip_tags(R["content"]), 100, "...");
                            
	<div class="postbox">
		<div class="subject">

        <img src="@g["img_module_skin"]/ico_notice.gif" alt="공지" class="imgpos2" />                    
            
        @if (mobile_chk != "")
        {
            <img src="@g["img_core"]/_public/ico_mobile.gif" class="imgpos1" alt="모바일" title="모바일(@mobile_chk)로 등록된 글입니다" />
        }
        <a href="@Html.Raw(g["cment_view"] + R["uid"] + "#CMT" + R["uid"])" class="notice">@R["subject"]</a>

        @if (R["upload"] != "")
        {
            <img src="@g["img_core"]/_public/ico_file.gif" class="imgpos" alt="첨부파일" title="첨부파일" />
        }
        
        @if (R["hidden"] == "1")
        {
            <img src="@g["img_core"]/_public/ico_hidden.gif" class="imgpos" alt="비밀글" title="비밀글" />
        }
        
        @if (R["oneline"] > 0)
        {
            <span class="comment">@Html.Raw("[" + R["oneline"] + "]")</span>
        }
        
        @if (_System.getNew(R["d_regis"].ToString(), 24))
        {
            <span class="new">new</span>
        } 
       
        </div>
		<div class="info">
			@R[_HS["nametype"]] / 조회 @R["hit"] / 공감 @R["score1"] / @R["d_regis"].ToString("yyyy.MM.dd HH:mm")
		</div>             
    </div>   
    }

    @if (NUM == 0)
    {
    }
    else
    {
        foreach (var R in RCD)
        {   // normla comment

       string class_set = "";
        string mobile_chk = _System.isMobileConnect(R["agent"]);     // 모바일 체크


	<div class="postbox">
		<div class="subject">
            @if (mobile_chk != "")
            {
                <img src="@g["img_core"]/_public/ico_mobile.gif" class="imgpos1" alt="모바일" title="모바일(@mobile_chk)로 등록된 글입니다" />
            }
            @if (uid != "" && uid != null && R["uid"] == Convert.ToInt32(uid))
            {
                class_set = "class='b'";
            }
            
            <a href="@Html.Raw(g["cment_view"] + R["uid"] + "#CMT" + R["uid"])" @Html.Raw(class_set)>@R["subject"]</a>
                
            @if (R["content"].IndexOf(".jpg") > -1)
            {
                <img src="@g["img_core"]/_public/ico_pic.gif" class="imgpos" alt="사진" title="사진" />    
            }
            @if (R["upload"] != "")
            {
                <img src="@g["img_core"]/_public/ico_file.gif" class="imgpos" alt="첨부파일" title="첨부파일" />
            }
            @if (R["hidden"] == "1")
            {
               <img src="@g["img_core"]/_public/ico_hidden.gif" class="imgpos" alt="비밀글" title="비밀글" />
            }
            @if (R["oneline"] > 0)
            {
               <span class="comment">@Html.Raw("[" + R["oneline"] + "]")</span>
            }
            @if (_System.getNew(R["d_regis"].ToString(), 24))
            {
               <span class="new">new</span>
            }
	        </div>

		    <div class="info">
			    @R[_HS["nametype"]] / 조회 @R["hit"] / 공감 @R["score1"] / @R["d_regis"].ToString("yyyy.MM.dd HH:mm")
		    </div>

        </div>   
        }
    }

	<div class="page pagebox01">
		<script type="text/javascript">getPageLink(10, @p, @TPG, '@g["img_core"]/page/default');</script>
	</div>
	

</div>

