@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: YoonA Shim, TaiHyung Kim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/   
    var g = PageData[0];
    var r = PageData[1];
    var d_layout = PageData[2];
    
    string _themeConfig = Request["_themeConfig"];
    string m_layout = "";
    string m_rb = "";
    
    dynamic LAYOUT_ARR = _DB.Get_code_layout(d_layout["dir"]);    
    
    if(LAYOUT_ARR["mainType_layout"] == "1")
    {
        m_layout = "checked='checked'";
    }    
    if(LAYOUT_ARR["mainType_rb"] == "1")
    {
        m_rb = "checked='checked'";
    }    
}

<div class="guide">
<span class="b">메인화면을 꾸미는 방법은 2가지가 있습니다.</span><br /><br />
첫번째 - 이 레이아웃에서 제공하는 최적화된 메인화면 사용하기<br />
두번재 - 킴스큐 자체에서 제공하는 꾸미기 기능을 이용하여 나만의 메인화면 만들기<br />
첫번째,두번째중 원핫시는 것을 선택해 주세요. 두가지 모두 선택할 수 있습니다.<br />
</div>

<form name="themeForm" method="post" action="@g["s"]/" onsubmit="return configCheck(this);">
<input type="hidden" name="r" value="@r" />
<input type="hidden" name="_layoutAction" value="config" />
<input type="hidden" name="nowLayout" value="@d_layout["dir"]" />
<input type="hidden" name="changeType" value="@_themeConfig" />

<table>
<tr>
<td class="t1">메인화면을 무엇으로 꾸미시겠습니까?</td>
<td class="t2">:</td>
<td class="t3 shift">
	<div class="shift">
	<label><input type="checkbox" name="mainType_layout" value="1" @Html.Raw(m_layout) />이 레이아웃에서 제공하는 메인화면(게시판 생성 필요)</label><br />
	<label><input type="checkbox" name="mainType_rb" value="1" @Html.Raw(m_rb) />킴스큐 자체에서 꾸미는 메인화면(직접꾸미기,위젯꾸미기,모듈콘텐츠 연결)</label><br />
	</div>
</td>
</tr>

@{
    if(LAYOUT_ARR["mainType_layout"] == "1")
    {
        string bbs_list = "SELECT * FROM " + AppState["table_bbslist"] + " ORDER BY gid ASC";
        string bbs1_sel = "";
        string sort1_sel1 = "";
        string sort1_sel2 = "";
        string sort1_sel3 = "";
        string viewtype_chk1 = "";
        string viewtype_chk2 = "";
        string viewtype_chk3 = "";

        if(LAYOUT_ARR["bbs1"] != "1")
        {
            bbs1_sel = "selected='selected'";
        }

        if(LAYOUT_ARR["sort1"] == "gid,asc")
        {
            sort1_sel1 = "selected='selected'";
        }
        else if(LAYOUT_ARR["sort1"] == "score1,desc")
        {
            sort1_sel2 = "selected='selected'";
        }
        else if(LAYOUT_ARR["sort1"] == "hit,desc")
        {
            sort1_sel3 = "selected='selected'";
        }

        if(LAYOUT_ARR["viewType"] == "list")
        {
            viewtype_chk1 = "checked='checked'";
        }
        else if(LAYOUT_ARR["viewType"] == "revi")
        {
            viewtype_chk2 = "checked='checked'";
        }
        else if(LAYOUT_ARR["viewType"] == "open")
        {
            viewtype_chk3 = "checked='checked'";
        }
        
        <tr>
        <td class="t1">출력 대상</td>
        <td class="t2">:</td>
        <td class="t3">
            <select name="bbs1" class="select1">
            <option value="0" @bbs1_sel>ㆍ전체 게시물</option>
                
            @foreach (var _B in _DB.Query(bbs_list))
            {
                string bbs1_sel1 = "";
                
                if(LAYOUT_ARR["bbs1"] == _B["uid"].ToString())
                {
                    bbs1_sel1 = "selected='selected'";
                }
                <option value="@_B["uid"]" @bbs1_sel1>@Html.Raw("ㆍ" + _B["name"] + "(" + _B["id"] + ")")</option>
            }
            </select>
            
            <select name="sort1">
            <option value="gid,asc" @Html.Raw(sort1_sel1)>등록순</option>
            <option value="score1,desc" @Html.Raw(sort1_sel2)>추천순</option>
            <option value="hit,desc" @Html.Raw(sort1_sel3)>조회순</option>
            </select>
            <input type="text" name="bbs1_day" value="@LAYOUT_ARR["bbs1_day"]" class="input sf" />일내
            
        </td>
        </tr>

        <tr>
        <td class="t1">전시형식/출력수</td>
        <td class="t2">:</td>
        <td class="t3">
            <label><input type="radio" name="viewType" value="list" @Html.Raw(viewtype_chk1) />목록보기</label>
            <input type="text" name="recnum_list" value="@LAYOUT_ARR["recnum_list"]" class="input sf" />개
            <br />
            <label><input type="radio" name="viewType" value="revi" @Html.Raw(viewtype_chk2) />요약보기</label>
            <input type="text" name="recnum_revi" value="@LAYOUT_ARR["recnum_revi"]" class="input sf" />개 / 내용출력
            <input type="text" name="review_length" value="@LAYOUT_ARR["review_length"]" class="input sf" maxlength="3" />자
            <br />
            <label><input type="radio" name="viewType" value="open" @Html.Raw(viewtype_chk3) />펼쳐보기</label>
            <input type="text" name="recnum_open" value="@LAYOUT_ARR["recnum_open"]" class="input sf" />개 / 댓글테마 
            <select name="comment_theme">
            <option value="">&nbsp;+ 댓글 대표테마</option>
             @{
                string tdir = g["path_root_ps"] + g["path_module"] + "comment\\theme\\_pc";

                foreach (string tpl in Directory.GetDirectories(tdir))
                {
                    string skin = tpl.Substring(tdir.Length, tpl.Length - tdir.Length);         // 디렉토리 명 구하기
                    skin = skin.Replace("\\", "");
                    
                    string skin_sel = "";
                    string F_Path = tdir + "\\" + skin;

                    if(LAYOUT_ARR["comment_theme"] == "_pc\\" + skin)
                    {
                        skin_sel = "selected='selected'";
                    }
                    
                    <option value="@Html.Raw("_pc\\" + skin)" title="@skin" @skin_sel>@Html.Raw("ㆍ"  + _System.getFolderName(F_Path, "name.txt") + " (" + skin + ")")</option>
                }
            }
            </select>
        
            <br />
        </td>
        </tr>
    }
}    

<tr>
<td></td>
<td></td>
<td><br /></td>
</tr>
    
<tr>
<td></td>
<td></td>
<td><br /><br /><input type="submit" value=" 변경하기 " class="btnblue" /></td>
</tr>
</table>
    
</form>
    
<div class="more">
원하시는 메인화면 형식이 아닌가요?<br />
메인화면을 직접 꾸미고 싶다면 위젯을 이용하시거나 소스코드 직접꾸미기 또는 원하시는 형식의 콘텐츠 모듈을 연결해 주세요.<br />
HTML소스코드로 메인화면을 직접 꾸미기 위해서는 적어도 HTML / CSS 에 대한 기본지식이 필요합니다.<br />
</div>
