@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: YoonA Shim, TaiHyung Kim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/   
    var g = PageData[0];
    var my = PageData[1];
    var r = PageData[2];
    var s = PageData[3];
    var _HP = PageData[4];
    var _CA = PageData[5];
    var _HS = PageData[6];
    var d_layout = PageData[7];
    var LAYOUT_ARR = PageData[8];    
    var _HM = PageData[9];
    var system = PageData[10];
    
    string _themeConfig = Request["_themeConfig"];
    string _keyword = Request["_keyword"];
    string keyword_prn = "";
    string menunum = LAYOUT_ARR["menunum"];

    int _i = 0;
}

<div class="bgwrap"@Html.Raw(d_layout["_bg"])>
<div id="header">
	<div class="wrap">
		<div class="hment">
			<span><!--메세지--></span>
		</div>
		<div class="gnb">
			<div id="_layout_memberlink_" class="menutops">
				<img src="@g["img_core"]/blank.gif" width="1" height="20" alt="" />
                @if(my["uid"] > 0) {
                    if(my["admin"] == "1") {
                        <a href="@g["s"]/?r=@r&_themeConfig=detail&prelayout=@Html.Raw(d_layout["dir"] + "/zone")" class="admin">레이아웃 설정하기</a> @("|")
                    }
                
                    <a href="@_System.RW("mod=mypage", g["r"], _HS)"@d_layout["_memberlink_color"]>나의계정</a> @("|") 
                    <a href="@g["s"]/?r=@r&a=logout"@d_layout["_memberlink_color"]>로그아웃</a>
                    
                    if(LAYOUT_ARR["sns_use"] == "1") {
                        <a href="#." onclick="getLayerBox('@g["s"]/?r=@r&m=social&page=account&iframe=Y','소셜계정',600,650,event,false,'l');"@d_layout["_memberlink_color"]><img src="@g["img_layout"]/sns.png" alt="" title="소셜계정" /> SNS</a>
                    }
                }
                else {
                    <a href="@_System.RW("mod=join", g["r"], _HS)"@d_layout["_memberlink_color"]>회원가입</a> @("|") 
                    <a href="@_System.RW("mod=login", g["r"], _HS)"@d_layout["_memberlink_color"]>로그인</a>
    
                    if(LAYOUT_ARR["sns_use"] == "1") {
                    <a href="#." onclick="getLayerBox('@g["s"]/?r=@r&m=social&page=login&iframe=Y','소셜 로그인',350,300,event,false,'l');"@d_layout["_memberlink_color"]><img src="@g["img_layout"]/sns.png" alt="" title="소셜 로그인" /> SNS</a>
                    }		
                }
            </div>
		</div>
		<div class="clear"></div>
	</div>
    
	<div class="wrap"@Html.Raw(d_layout["_titlebg"])>
		<div class="logo">
			@Html.Raw(getLayoutLogo_CS3(LAYOUT_ARR, d_layout, g, _HS))
		</div>
        <div class="bannerbox">
			@if(LAYOUT_ARR["adtype"] != "")
            {
                <div class="banner">
                    
                @if(LAYOUT_ARR["adtype"] == "1")
                {
                    <a href="@LAYOUT_ARR["ad_imglink"]" target="@LAYOUT_ARR["ad_imgtarget"]"><img src="@g["url_layout"]/_var/@LAYOUT_ARR["ad_img"]" width="470" height="60" alt="" /></a>                    
                }
                @if(LAYOUT_ARR["adtype"] == "2")
                {
                    <embed src="@g["url_layout"]/_var/@LAYOUT_ARR["ad_swf"]" width="470" height="60"></embed>                   
                }
                @if(LAYOUT_ARR["adtype"] == "3")
                {
                    @RenderPage("../../../" + g["path_layout"] + d_layout["dir"] + "/_var/_ad.cshtml");                    
                }
                </div>                
            }
		</div>
		<div class="clear"></div>
	</div>
</div>

<div id="container" class="wrap">
	<div class="tabmenu"> 

		<ul>
        @if(LAYOUT_ARR["homestr_use"] != "") {
            string homestr_class = "";
                    
            if(_HP["id"] == "main" && (_themeConfig == "" || _themeConfig == null)) {
                homestr_class = "class='on'";
            }
                    
            <li><a href="./" @Html.Raw(homestr_class)>@LAYOUT_ARR["homestr"]</a></li>
            <li class="vline"></li>
        }
        
        @{
            string _MENUS_sql = "SELECT * FROM " + AppState["table_s_menu"] + " WHERE site=" + s + " AND hidden=0 AND depth=1 ORDER BY gid ASC";
            var _MENUS_Row = _DB.getDbRows(_MENUS_sql);
                    
            foreach (var _M1 in _DB.Query(_MENUS_sql))
            {
                string li_class1_1 = "";
                string M1_redirect = "";
                string _MENUS_sql2 = "SELECT * FROM " + AppState["table_s_menu"] + " WHERE site=" + s + " AND parent=" + _M1["uid"] + " AND hidden=0 AND depth=2 ORDER BY gid ASC";   
                   
                <li onmouseover="showM('@_M1["uid"]');" onmouseout="hideM('@_M1["uid"]');">                

                @if (_M1["isson"] == "1")
                {
                    <div id="@Html.Raw("subMenuBox" + _M1["uid"])">
                    <dl>
                    <span><i></i></span>

                    @foreach (var _M2 in _DB.Query(_MENUS_sql2))
                    {
                        string li_class2_1 = "";
    
                        if (_CA[1] == _M2["id"] || (g["_CA"] != null && g["_CA"][1] == _M2["id"]))
                        {
                            li_class2_1 = "class='on1'";
                        }
                                
                        <dt @Html.Raw(li_class2_1)><a href="@_System.RW("c=" + _M1["id"] + "/" + _M2["id"], g["r"], _HS)" target="@_M2["target"]">@_M2["name"]</a></dt>

                        if (_M2["isson"] == "1")
                        {
                            string _MENUS_sql3 = "SELECT * FROM " + AppState["table_s_menu"] + " WHERE site=" + s + " AND parent=" + _M2["uid"] + " AND hidden=0 AND depth=3 ORDER BY gid ASC";

                            foreach (var _M3 in _DB.Query(_MENUS_sql3))
                            {
                                <dd><a href="@_System.RW("c=" + _M1["id"] + "/" + _M2["id"] + "/" + _M3["id"], g["r"], _HS)" target="@_M3["target"]">@_M3["name"]</a></dd>
                            }
                        }
                    }         
                            
                    </dl>
                    </div>                            
                }   

                @if(_M1["redirect"] == "1")
                {
                    M1_redirect = _M1["joint"];
                }
                else
                {
                    M1_redirect = _System.RW("c=" + _M1["id"], g["r"], _HS);
                }

                @if(_CA[0] == _M1["id"] || (g["_CA"] != null && g["_CA"][0] == _M1["id"]))
                {
                    li_class1_1 = "class='on'";
                }          

                <a href="@M1_redirect" target="@_M1["target"]" @Html.Raw(li_class1_1)>@_M1["name"]</a>
                </li>
                    
                _i++;
    
                if (_i >= menunum.AsInt())
                {
                    break;
                }                     
            }

            if (_i < _MENUS_Row)
            {
                <li onmouseover="showM('0');" onmouseout="hideM('0');">
                <div id="subMenuBox0">
                <dl>

                @foreach (var _M4 in _DB.Query(_MENUS_sql))
                {
                    string li_class1_2 = "";
                    string _parent = "";
                    string M4_redirect = "";
        
                    if (_CA[0] == _M4["id"].ToString())
                    {
                        li_class1_2 = "class='on1'";
                        _parent = _M4["uid"].ToString();
                    }
                                
                    if(_M4["redirect"] == "1")
                    {
                        M4_redirect = _M4["joint"];
                    }
                    else
                    {
                        M4_redirect = _System.RW("c=" + _M4["id"], g["r"], _HS);
                    }
                            
                    <dt @Html.Raw(li_class1_2)><a href="@M4_redirect" target="@_M4["target"]">@_M4["name"]</a></dt>
                                
                    if(_M4["isson"] == "1")
                    {
                        string _MENUS_sql4 = "SELECT * FROM " + AppState["table_s_menu"] + " WHERE site=" + s + " AND parent=" + _M4["uid"] + " AND hidden=0 AND depth=2 ORDER BY gid ASC";
                                    
                        foreach (var _M5 in _DB.Query(_MENUS_sql4))
                        {
                            <dd><a href="@_System.RW("c=" + _M4["id"] + "/" + _M5["id"], g["r"], _HS)" target="@_M5["target"]">@_M5["name"]</a></dd>
                        }
                    }
                }
   				</dl>
   				</div>
                                
  				<a href="#.">더보기 <img src="@g["img_layout"]/ico_more.gif" class="more" alt="" /></a>
   				</li>
            }       // end if            
            
            if(_i == 0)
            {
         	    <li class="none">메뉴를 등록해 주세요</li>
            }            
        }
		</ul>

        @if(_keyword != "" && _keyword != null) {
            keyword_prn = "done";
        }

        <div class="search">
			<form action="@g["s"]/" method="get">
			<input type="hidden" name="r" value="@r" />
			<input type="hidden" name="mod" value="search" />
			<input type="text" name="keyword" placeholder="통합검색" class="keyword @keyword_prn" value="@_keyword" />
			<input type="image" src="@g["img_layout"]/btn_search.gif" class="sbtn" alt="search" />
			</form>
		</div>
		<div class="clear"></div>
	</div>
    
    @{
        //////////////////////////////////////////////////////////
        ///// Header File Rendering
        //////////////////////////////////////////////////////////        
        @RenderPage("../../../" + g["path_core"] + "engine/container_head.engine.cshtml", g, _HM, system)
    }


@functions
{
   // 레이아웃 로고 (classic3
    public static string getLayoutLogo_CS3(dynamic LAYOUT_ARR, dynamic d_layout, dynamic g, dynamic _HS)
    {
        string logo_set = "";
        
    	if (LAYOUT_ARR["imglogo_use"] != "")
	    {
            logo_set = "<div style='margin:" + LAYOUT_ARR["title_t"] + "px 0 " + LAYOUT_ARR["title_b"] + "px 0;'><a href='" + _System.RW("", g["r"], _HS) + "'><img src='" + g["s"] + "/layouts/" + d_layout["dir"] + "/_var/" + LAYOUT_ARR["imglogo"] + "' width='" + LAYOUT_ARR["imglogo_w"] + "' height='" + LAYOUT_ARR["imglogo_h"] + "' alt='' /></a><div id='_layout_title1_' class='sment' style='color:" + LAYOUT_ARR["title_color1"] + ";'>" + LAYOUT_ARR["ment"] + "</div></div>";
    	}
	    else {
            logo_set = "<div style='margin:" + LAYOUT_ARR["title_t"] + "px 0 " + LAYOUT_ARR["title_b"] + "px 0;'><h1><a href='" + _System.RW("", g["r"], _HS) + "' id='_layout_title_' style='color:" + LAYOUT_ARR["title_color"] + ";'>" + LAYOUT_ARR["title"] + "</a></h1><div id='_layout_title1_' class='sment' style='color:'" + LAYOUT_ARR["title_color1"] + ";'>" + LAYOUT_ARR["ment"] + "</div></div>";
	    }
        
        return logo_set;
    }    
}