@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: TaiHyung Kim, YoonA Shim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/
    

    //////////////////////////////////////////////////////////////////
    /// Get PageDate
    //////////////////////////////////////////////////////////////////
    var g = PageData[0];
    var m = PageData[1];
    var _HS = PageData[2];
    var my = PageData[3];
    var _isDragScript = PageData[4];
    var p = PageData[5];
    var r = PageData[6];
    var s = PageData[7];
    var module = PageData[8];
    var date = PageData[9];
    
    string frame_name = "_action_frame_" + m;

    string SITES_sql = "SELECT * FROM " + AppState["table_s_site"] + " ORDER BY gid asc";
    int SITE_cnt = _DB.GetDbData_Count(AppState["table_s_site"], "");

    string year1 = Request["year1"] != null && Request["year1"] != "" ? Request["year1"] : date["year"];
    string month1 = Request["month1"] != null && Request["month1"] != "" ? Request["month1"] : date["month"];
    string day1 = Request["day1"] != null && Request["day1"] != "" ? Request["day1"] : "01";
    string year2 = Request["year2"] != null && Request["year2"] != "" ? Request["year2"] : date["year"];
    string month2 = Request["month2"] != null && Request["month2"] != "" ? Request["month2"] : date["month"];
    string day2 = Request["day2"] != null && Request["day2"] != "" ? Request["day2"] : date["day"];

    p = (p != null && p != 0 ? p : 1);
    string recnum = (Request["recnum"] != null && Request["recnum"] != "" && Convert.ToInt32(Request["recnum"]) < 200 ? Request["recnum"] : "20");
    string sort = (Request["sort"] != null && Request["sort"] != "" ? Request["sort"] : "total");
    string orderby = (Request["orderby"] != null && Request["orderby"] != "" ? Request["orderby"] : "desc");   
    
    string accountQue = Request["account"] != null && Request["account"] != "" ? "site=" + Request["account"] + " and " : "";
    string _WHERE1 = accountQue + "date>=" + year1 + month1 + day1 + " and date<=" + year2 + month2 + day2;
    string _WHERE2 = "keyword,sum(naver) as naver,sum(nate) as nate,sum(daum) as daum,sum(yahoo) as yahoo,sum(google) as google,sum(etc) as etc,sum(total) as total";
    
    string RCD_sql = "SELECT TOP " + recnum + " "  + _WHERE2 + " FROM " + AppState["table_s_outkey"] + " WHERE " + _WHERE1 + " group by keyword order by " + sort + " " + orderby;

    string[] searchset1 = {"naver","nate","daum","yahoo","google","etc"};
    var searchset2 = new Dictionary<string, string>(); 
    
    searchset2.Add("네이버", "http://search.naver.com/search.naver?query=");
    searchset2.Add("네이트", "http://search.nate.com/search/all.html?q=");
    searchset2.Add("다음", "http://search.daum.net/search?q=");
    searchset2.Add("야후", "http://kr.search.yahoo.com/search?p=");
    searchset2.Add("구글", "http://www.google.com/search?q=");
    searchset2.Add("기타", g["s"] + "/?r=" + r + "&mod=search&keyword=");
}

<form name="procForm" action="@g["s"]/" method="get">
<input type="hidden" name="r" value="@r" />
<input type="hidden" name="m" value="@m" />
<input type="hidden" name="module" value="@module" />
<input type="hidden" name="front" value="@Request["front"]" />

<div class="sbox">
	<select name="account" class="account" onchange="this.form.submit();">
	<option value="">&nbsp;+ 전체사이트</option>
	<option value="">---------------------------</option>
    @foreach (var S in _DB.Query(SITES_sql)) 
    {        
        <option value="@S["uid"]" @_System.getSltStr(Request["account"], S["uid"])>ㆍ@(S["name"])</option>
    }

    @if (SITE_cnt == 0) 
    {
        <option value="">등록된 사이트가 없습니다.</option>
    }
	</select>

	<div>
 	<select name="year1">
    @for (int i = Convert.ToInt32(date["year"]); i > 2009; i--) 
    {
        <option value="@i" @_System.getSltStr(year1, i)>@(i)년</option>
    }
	</select>
	<select name="month1">
    @for (int i = 1; i < 13; i++) 
    {
        <option value="@String.Format("{0:00}", i)" @_System.getSltStr(month1, String.Format("{0:00}", i)))>@String.Format("{0:00}", i)월</option>
    }  
	</select>
    <select name="day1">
    @for (int i = 1; i < 32; i++)
    {
        <option value="@String.Format("{0:00}", i)" @_System.getSltStr(day1, String.Format("{0:00}", i)))>@String.Format("{0:00}", i)일</option>
    } 
    </select>
	~
	<select name="year2">
    @for (int i = Convert.ToInt32(date["year"]); i > 2009; i--) 
    {
        <option value="@i" @_System.getSltStr(year2, i)>@(i)년</option>
    }
    </select>
    <select name="month2">
    @for (int i = 1; i < 13; i++) 
    {
        <option value="@String.Format("{0:00}", i)" @_System.getSltStr(month2, String.Format("{0:00}", i)))>@String.Format("{0:00}", i)월</option>
    }
    </select>              
    <select name="day2">
    @for (int i = 1; i < 32; i++)
    {
        <option value="@String.Format("{0:00}", i)" @_System.getSltStr(day2, String.Format("{0:00}", i)))>@String.Format("{0:00}", i)일</option>
    } 
    </select>
            
    <input type="button" class="btngray" value="기간적용" onclick="this.form.submit();" />
	<input type="button" class="btngray" value="어제" onclick="dropDate('@date["_yester"]','@date["_yester"]');" />
	<input type="button" class="btngray" value="오늘" onclick="dropDate('@date["totime"]','@date["totime"]');" />
	<input type="button" class="btngray" value="일주" onclick="dropDate('@date["_week"]','@date["totime"]');" />
	<input type="button" class="btngray" value="한달" onclick="dropDate('@date["_month"]','@date["totime"]');" />
    <input type="button" class="btngray" value="당월" onclick="dropDate('@date["curMonth"]','@date["totime"]');" />
	<input type="button" class="btngray" value="전월" onclick="dropDate('@date["preMonth1"]','@date["preMonth2"]');" />
	<input type="button" class="btngray" value="전체" onclick="dropDate('2009-01-01','@date["totime"]');" />
    </div>
</div>
</form>


<table cellspacing="1">
	<colgroup> 
	<col width="50"> 
	<col width="200"> 
	<col width="73"> 
	<col width="73"> 
	<col width="73"> 
	<col width="73"> 
	<col width="73"> 
	<col width="73"> 
	<col width="95"> 
	<col>
	</colgroup>
	<thead>
	<tr class="sbjtd">
		<th width="50">순위</th>
		<th>유입키워드</th>
        @{
            int _i = 0;
        
            foreach(var key in searchset2.Keys) 
            {
                if (key == "기타")
                {
                    <th scope="col"><a href="@searchset2[key]" target="_blank">기타</a></th>        
                }
                else
                {
                     <th scope="col"><a href="@searchset2[key]" target="_blank"><img src="@g["img_module_admin"]/ico_@(searchset1[_i]).gif" alt="@searchset1[_i].ToUpper()" /></a></th>
                }

                _i++;
            }
        }
		<th scope="col" class="b">합 계</th>
		<th scope="col"></th>
	</tr>
	</thead>
	<tbody>

    @{
        int j = 0;

        foreach (var G in _DB.Query(RCD_sql))
        {
            j++;
            
	        <tr class="@Html.Raw("rooptd" + (++_i % 2).ToString())">
		        <td class="number">@j</td>
		        <td class="b">@G["keyword"]</td>

                @{
                    int k = 0;

                    foreach (var key in searchset2.Keys)
                    {
                        int searchStr = 0;

                        if (G[searchset1[k]] != null && G[searchset1[k]] != 0)
                        {
                            searchStr = G[searchset1[k]];
                        }
                        
                        <td><a href="@searchset2[key]@Server.UrlEncode(G["keyword"])" target="_blank">@(G[searchset1[k]] != null && G[searchset1[k]] != 0 ? G[searchset1[k]].ToString() : "")</a></td>
                    
                        k++;
                    }
                }
		        <td class="etc">@string.Format("{0:#,0}",G["total"])</td>
		        <td></td>
	        </tr>            
        }   
    }
	</tbody>
</table>

@if (j == 0)
{
    <div class="nodata"><img src="@g["img_core"]/_public/ico_notice.gif" alt="" /> 지정된 기간내에 유입된 키워드가 없습니다.</div>
}

<script type="text/javascript">
//<![CDATA[
function dropDate(date1, date2) {
    var f = document.procForm;

    f.year1.value = date1.substring(0, 4);
    f.month1.value = date1.substring(5, 7);
    f.day1.value = date1.substring(8, 10);

    f.year2.value = date2.substring(0, 4);
    f.month2.value = date2.substring(5, 7);
    f.day2.value = date2.substring(8, 10);

    f.submit();
}
//]]>
</script>
