@{
    /*****************************************************************
    // Programmed by SungHO Kim (Migration: Yoona Sim)
    // KimsQ-Rx (for Microsoft Razor)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    *****************************************************************/
    
    var typeset = new Dictionary<string, string>();

    var g = PageData[0];
    var m = PageData[3];
    var p = PageData[4];
    var _HS = PageData[5];
    var system = PageData[7];
    var d_layout = PageData[8];
    var s = PageData[9];
    var r = PageData[12];
    var _HP = PageData[13];

    var bbsque = Request["bbsque"];
    var bbsuid = Request["bbsuid"];
    var sort = Request["sort"];
    var orderby = Request["orderby"];
    var recnum = Request["recnum"];
    var keyword = Request["keyword"];
    var ikeyword = Request["ikeyword"];

    dynamic d_search = _DB.Get_code("search");
    dynamic date = _System.GetVDate(_HS["timecal"]);

    DateTime now_date2 = date["totime"];
    string now_date = now_date2.ToString("yyMMdd");
    string d_search_date = now_date2.AddMonths(-Convert.ToInt32(d_search["s_term"])).ToString("yyMMdd");

    @RenderPage("_menu.cshtml", g, m, _HS)

    if (sort == null || sort == "")
    {
        sort = "gid";
    }
    if (orderby == null || orderby == "")
    {
        orderby = "asc";
    }
    if (recnum == null || recnum == "" || Convert.ToInt32(recnum) >= 200)
    {
        recnum = d_search["s_num2"];
    }

    if (bbsuid != null && bbsuid != "")
    {
        bbsque += " and bbs=" + bbsuid;
    }

    bbsque += _System.getSearchSql("name|caption", keyword, ikeyword, "OR");

    int list_start = (p - 1) * Convert.ToInt32(recnum);

    string RCD_sql = _System.GetQuery(AppState["table_s_upload"].ToString(), "", "site='" + s + "' AND type=2 AND ext='jpg'" + bbsque, "gid", "asc", list_start, recnum);
    int NUM = _DB.GetDbData_Count(AppState["table_s_upload"].ToString(), "site='" + s + "' AND type=2 AND ext='jpg'" + bbsque);

    decimal TPG = _System.getTotalPage(Convert.ToDecimal(NUM), Convert.ToDecimal(recnum));
}

@if (NUM != 0)
{
    <div id="s_image">

	    <div class="subtitle">
		    <div class="xleft">이미지(검색결과 @string.Format("{0:#,0}", Convert.ToInt32(NUM))개)</div>
		    <div class="xright"><a href="@g["url_reset"]">통합검색</a></div>
		    <div class="clear"></div>
	    </div>

	    <div class="imgbox">

        @foreach (var R in _DB.Query(RCD_sql))
        {    
            string _link = _System.getCyncURL(R["cync"], 6, '[', ',', ':');
                        
		    <div class="pic">
		    <div class="photo">
		    <a href="@_link"><img src="@R["url"]@R["folder"]/@R["thumbname"]" alt="" title="@Html.Raw(_System.isEqual(R["caption"] != "", true, R["caption"], R["name"]))" /></a>
		    </div>
		    <div class="info"><a href="@_link" target="_blank">@_System.isEqual(R["caption"] != "", true, R["caption"], R["name"])</a></div>
		    <div class="date">@R["d_regis"].ToString("yyyy.MM.dd HH:mm")</div>
		    </div>
        }
		    <div class="clear"></div>
	    </div>

    </div>
    <div class="pagebox01">
    <script type="text/javascript">getPageLink(10,@p,@TPG,'@g["img_core"]/page/default');</script>
    </div>    
}
else
{
    <div id="s_result">
    <img src="@g["img_core"]/_public/ico_notice.gif" alt="" />
    검색결과가 없습니다.
    </div>    
}