@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: TaiHyung Kim, YoonA Shim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/
    
    var d_page_widget_name = new Dictionary<string, string>();
    var d_page_widget_size = new Dictionary<string, string>();
    var d_page_widget_prop = new Dictionary<string, string>();

    //////////////////////////////////////////////////////////////////
    /// Get PageDate
    //////////////////////////////////////////////////////////////////
    var g = PageData[0];
    var m = PageData[1];
    var _HS = PageData[2];
    var my = PageData[3];
    var _isDragScript = PageData[4];
    var p = PageData[5];
    var r = PageData[6];
    var s = PageData[7];
    var module = PageData[8];
    var date = PageData[9];

    //////////////////////////////////////////////////////////////////
    /// Get Request
    //////////////////////////////////////////////////////////////////
    var _ishistory = Request["_ishistory"];
    
    string frame_name = "_action_frame_" + m;

    dynamic d_market = _DB.Get_code("market");
    dynamic d_admin = _DB.Get_code("admin");

    string[] _serverinfo = d_market["url"].Split('/');

    WebClient client = new WebClient();
    string[] _updatelist = client.DownloadString("http://" + _serverinfo[2] + "/__update/update.txt").Split('\n');

    int _updatelength = _updatelist.Length;
    string[] _version = d_admin["version"].Split('.');
    string[] _supdate = { };

    int recnum = 15;

    Decimal TPG = _System.getTotalPage(Convert.ToDecimal(_updatelength), Convert.ToDecimal(recnum));
}

<div id="Uupdate">

	<div class="tbox">
		<div class="tleft">
			<div class="title">킴스큐 원격 업데이트</div>
			<p>
				원격 업데이트를 이용하시면 킴스큐Rx를 항상 최신의 상태로 유지할 수 있습니다.<br />
				패치 및 업데이트 내용에 따라서 업데이트를 진행해 주세요.
				<a href="#." onclick="layerShowHide('guide_update','block','none');">업데이트 도움말</a><br />
			</p>
		</div>
		<div class="tright">
			<div class="version">
			<i class="gap1">@_version[0]</i>
			<i class="gap2">@_version[1]</i>
			<i class="gap3">@_version[2]</i>
			<div class="clear"></div>		
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="guide_update" class="guide hide">
	원격 업데이트는 킴스큐의 코어 및 관련 파일들을 항상 최신의 상태로 유지할 수 있는 시스템입니다.<br />
	그러나 사용자가 직접 수정하거나 커스터마이징 한 사항이 업데이트 내역에 포함되어 있을 경우 해당사항이 덧씌워 지므로 이 경우 반드시 수작업으로 패치한 후 수동 업데이트를 클릭해 주어야 합니다.<br />
	정상적으로 업데이트 되지 않았거나 재 업데이트를 원하시면 기록을 제거한 후 재시도해 주세요<br />
	이 작업은 데이터의 용량이나 처리내용에 따라서 다소 시간이 걸릴 수 있습니다.<br />
	원격 업데이는 킴스큐 1.1.0 버젼부터 지원됩니다.<br />
	</div>

	<div class="count">총 @(_updatelength)건</div>

	<table>
	<thead>
	<tr>
	<th>버젼</th>
	<th>패치/업데이트 (변경사항)</th>
	<th>업데이트일자</th>
	<th>처리</th>
	<th>수동</th>
	<th>제거</th>
	</tr>
	</thead>
	<tbody>

    @for (int i = _updatelength - ((p - 1) * Convert.ToInt32(recnum)) - 1; i > _updatelength - (p * Convert.ToInt32(recnum)) - 1; i--)
    {
        if (i < 0)
        {
            continue;
        }
        string _update = _updatelist[i].Trim();

        if (_update == "")
        {
            continue;
        }

        string[] var1 = _update.Split(',');

        string[] var2 = { "", "", "" };

        if (i > 0)
        {
            var2 = _updatelist[i - 1].Split(',');
        }       

	    <tr>
	    <td class="t1@((var1[0] != var2[0]) ? " bx" : "")">@var1[0]</td>
	    <td class="t2">
		    @(var1[0])_@(var1[1])
		    <a href="http://@_serverinfo[2]/@r/update/@var1[2]" target="_blank">내용보기</a>
	    </td>
	    <td class="t3">
        @if (File.Exists(g["path_root_ps"] + g["path_var"] + "update\\" + var1[1] + ".txt"))
        {
            _supdate = File.ReadAllLines(g["path_root_ps"] + g["path_var"] + "update\\" + var1[1] + ".txt", System.Text.Encoding.UTF8)[0].Trim().Split(',');
		    <span class="udate1_1">@_supdate[0]</span>		
        }
        else
        {
            <span class="udate1_2">업데이트 전</span>
        }
	    </td>

        @if (!File.Exists(g["path_root_ps"] + g["path_var"] + "update\\" + var1[1] + ".txt") && (File.Exists(g["path_root_ps"] + g["path_var"] + "update\\" + var2[1] + ".txt") || var2[1].Trim() == ""))
        {
            <td class="t4">
			    <a href="@g["s"]/?r=@r&m=@m&a=update&type=auto&ufile=@var1[1]" class="btnGray01 plusBlue hand" onclick="return hrefCheck(this,true,'정말로 업데이트 하시겠습니까?');"><i><s>업데이트</s></i></a>
		    </td>
		    <td class="t5"><a href="@g["s"]/?r=@r&m=@m&a=update&type=manual&ufile=@var1[1]" class="u" title="수동 업데이트 처리" onclick="return hrefCheck(this,true,'정말로 수동으로 업데이트 처리하시겠습니까?\n수동 업데이트 처리시 원격업데이트는 건너뜁니다.');">수동</a></td>
		    <td class="t6"></td>
        }
        else
        {
            if (File.Exists(g["path_root_ps"] + g["path_var"] + "update\\" + var1[1] + ".txt"))
            {
                <td class="t4"><span class="udate1_1">완료</span></td>
		        <td class="t5">@Html.Raw((_supdate != null && _supdate[1] == "1") ? "<span class='udate1_2'>수동</span>" : "")</td>
		        <td class="t6">
                @if (_ishistory != null && _ishistory != "")
                {
                    <a href="@g["s"]/?r=@r&m=@m&a=update&type=delete&ufile=@var1[1]" title="업데이트기록 제거" onclick="return hrefCheck(this,true,'정말로 업데이트 기록을 제거하시겠습니까?');"><span class="udate1_2 u">제거</span></a>
                }
                </td>
        
                _ishistory = "true";
            }
            else
            {
		        <td class="t4"><span class="udate1_2">대기중</span></td>
		        <td class="t5"></td>
		        <td class="t6"></td>
            }
        }
	    @*</td>*@
	    </tr>
     
    }
    
    @if (_updatelength == 0)
    {
        <tr>
	    <td class="t7" colspan="5">업데이트 대기리스트가 없습니다.</td>
	    </tr>
    }
	</tbody>
	</table>

	<div class="pagebox01">
	<script type="text/javascript">getPageLink(10,@p,@TPG,'@g["img_core"]/page/default');</script>
	</div>

</div>

