@{
    /*****************************************************************
    // Programmed by SungHO Kim (Migration: TaiHyung Kim)
    // KimsQ-Rx (for Microsoft Razor)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    *****************************************************************/

    dynamic g = PageData[0];
    var _HS = PageData[5];

    dynamic date = _System.GetVDate(_HS["timecal"]);
    
    var now_year = Convert.ToInt32(date["year"]);

    string m = PageData[3];
    string r = Request["r"];
    string ftype = Request["ftype"];
    string frame_name = "_action_frame_" + m;

    string idOrEmail = "아이디";
    string idOrEmail_rev = "이메일";

    dynamic d_member = _DB.Get_code("member");
    
    if(d_member["login_emailid"]!=null && d_member["login_emailid"]!="") {
        idOrEmail = "이메일";
        idOrEmail_rev = "아이디";
    }
}

<div id="pages_idpw">

	<h2>@idOrEmail/비밀번호 찾기</h2>

	<div class="msg">
    @if (d_member["login_emailid"] != null && d_member["login_emailid"].Trim() != "")
    {
        @:아이디는 회원가입시 등록한 이름(실명)과 생일/성별, 이메일을 입력하시면 정보를 확인하실 수 있습니다.<br />
		@:비밀번호는 암호화되어 있으므로 아이디인증 후 새로운 비밀번호로 재등록하셔야 합니다.
    }
    else {
 		@:아이디는 회원가입시 등록한 이름(실명)과 이메일을 입력하시면 정보를 확인하실 수 있습니다.<br />
		@:비밀번호는 암호화되어 있으므로 아이디인증 후 새로운 비밀번호로 재등록하셔야 합니다.       
    }
		
	</div>

	<div class="tab">
		<ul>
		<li class="lside" onclick="goHref('@g["url_reset"]');">로그인</li>
		<li id="tagree1" class="selected" onclick="tabShow(1);">@idOrEmail 찾기</li>
		<li id="tagree2" onclick="tabShow(2);">비밀번호 찾기</li>
        <li id="tagree3" onclick="tabShow(3);">비밀번호 요청</li>
		</ul>
	</div>
	<div class="agreebox">
		<div id="bagree1">
		
		<form name="procForm1" action="@g["s"]/" target='@frame_name' method="post" onsubmit="return idCheck(this);">
        <input type="hidden" name="r" value="@r" />
		<input type="hidden" name="m" value="@m" />
		<input type="hidden" name="email_id" value="@d_member["login_emailid"]" />
		<input type="hidden" name="a" value="id_search" />

		<div class="tblbox">
		<table>
			<tr>
			<td class="key">이름(실명)</td>
			<td>
				<input type="text" name="name" value="" maxlength="10" class="input" />
			</td>
			</tr>
			<tr>
			<td class="key">@idOrEmail_rev</td>
			<td>
				<input type="text" name="email" value="" class="input" />
			</td>
			</tr>

            @*
			<tr>
			<td class="key">생일/성별</td>
			<td>
		        <select name="birth_1">
		        <option value="">년도</option>
		        @{            
                    for(var i = now_year; i > 1930; i--) {
                        var tmp_i = i.ToString();
                
                        <option value="@i">@i</option>
			        }
		        }
		        </select>
        
                <select name="birth_2">
        		<option value="">월</option>
		        @{
                    for(var i = 1; i < 13; i++) {
                        var tmp_i = i.ToString();
                
        		        <option value="@i")>@i</option>
                    }            
		        }
		        </select>
		
                <select name="birth_3">
		        <option value="">일</option>
		        @{
                    for(var i = 1; i < 32; i++) {
                        var tmp_i = i.ToString();

                        <option value="@i">@i</option>
                    }            
		        }
                </select>

                <input type="checkbox" name="birthtype" value="1" />음력
				<input type="radio" name="sex" value="1" checked="checked" />남성
				<input type="radio" name="sex" value="2" />여성
			</td>
			</tr>

            *@
		</table>
		</div>

		<div class="submitbox">
			<input type="button" value="취소" class="btngray" onclick="goHref('./');" />
			<input type="submit" value="아이디찾기" class="btnblue" />
		</div>

		</form>

		</div>
		<div id="bagree2" class="hide">


		<form name="procForm2" action="@g["s"]/" target='@frame_name' method="post" onsubmit="return pwCheck(this);">
		<input type="hidden" name="m" value="@m" />
		<input type="hidden" name="a" value="pw_search" />
		<input type="hidden" name="id_auth" id="id_auth" value="1" />

		<div id="pwauth_step_1">
		<div class="tblbox">
		<table>
			<tr>
			<td class="key">인증단계</td>
			<td>
				<span class="b">@Html.Raw(idOrEmail + "인증")</span> &gt; 비밀번호찾기 질문인증 &gt; 비밀번호 재등록
			</td>
			</tr>
			<tr>
			<td class="key">@idOrEmail</td>
			<td>
				<input type="text" name="new_id" id="pwsearchStep_1" value="" maxlength="12" class="input" />
			</td>
			</tr>
		</table>
		</div>
		<div class="submitbox">
			<input type="button" value="취소" class="btngray" onclick="goHref('./');" />
			<input type="submit" value="@idOrEmail 인증요청" class="btnblue" />
		</div>
		</div>


		<div id="pwauth_step_2" class="hide">
		<div class="tblbox">
		<table>
			<tr>
			<td class="key">인증단계</td>
			<td>
				@Html.Raw(idOrEmail + "인증") &gt; <span class="b">비밀번호찾기 질문인증</span> &gt; 비밀번호 재등록
			</td>
			</tr>
			<tr>
			<td class="key">인증질문</td>
			<td id="pw_question" class="ques">
				이 곳은 PUSH에 의해 질문으로 자동 대체됩니다.
			</td>
			</tr>
			<tr>
			<td class="key">답변입력</td>
			<td>
				<input type="text" name="new_pw_a" id="pwsearchStep_2" value="" class="input" />
			</td>
			</tr>
		</table>
		</div>
		<div class="submitbox">
			<input type="button" value="취소" class="btngray" onclick="goHref('./');" />
			<input type="submit" value="답변 인증요청" class="btnblue" />
		</div>
		</div>

		<div id="pwauth_step_3" class="hide">
		<div class="tblbox">
		<table>
			<tr>
			<td class="key">인증단계</td>
			<td>
				@Html.Raw(idOrEmail + "인증") &gt; 비밀번호찾기 질문인증 &gt; <span class="b">비밀번호 재등록</span>
			</td>
			</tr>
			<tr>
			<td class="key">비밀번호</td>
			<td>
				<input type="password" name="new_pw1" id="pwsearchStep_3" value="" maxlength="20" class="input" />
			</td>
			</tr>
			<tr>
			<td class="key">비번확인</td>
			<td>
				<input type="password" name="new_pw2" value="" maxlength="20" class="input" />
			</td>
			</tr>
		</table>
		</div>
		<div class="submitbox">
			<input type="button" value="취소" class="btngray" onclick="goHref('./');" />
			<input type="submit" value="새 비밀번호 등록" class="btnblue" />
		</div>

		</div>
		</form>

		</div>


		<div id="bagree3" class="hide">
		
		<form name="procForm3" action="@g["s"]/" method="post" target="@frame_name" onsubmit="return idCheck(this);">
		<input type="hidden" name="r" value="@r" />
		<input type="hidden" name="m" value="@m" />
		<input type="hidden" name="a" value="id_auth" />


		<div class="tblbox">
		<table>
			<tr>
			<td class="key">이름(실명)</td>
			<td>
				<input type="text" name="name" value="" maxlength="10" class="input" />
			</td>
			</tr>
			<tr>
			<td class="key">@idOrEmail</td>
			<td>
				<input type="text" name="email" value="" class="input" />
			</td>
			</tr>
		</table>
		</div>

		<div class="submitbox">
			<input type="button" value="취소" class="btngray" onclick="goHref('./');" />
			<input type="submit" value="비밀번호 요청" class="btnblue" />
		</div>

		</form>

		</div>





	</div>
</div>


<script type="text/javascript">
//<![CDATA[
function tabShow(n)
{
	var i;

	for (i = 1; i < 4; i++)
	{
		getId('tagree'+i).style.borderBottom = '#dfdfdf solid 1px';
		getId('tagree'+i).style.background = '#efefef';
		getId('tagree'+i).style.color = '#666666';
		getId('bagree'+i).style.display = 'none';
	}
	getId('tagree'+n).style.borderBottom = '#ffffff solid 1px';
	getId('tagree'+n).style.background = '#ffffff';
	getId('tagree'+n).style.color = '#000000';
	getId('bagree'+n).style.display = 'block';

	if (n == 1)
	{
		document.procForm1.name.focus();
	}
	else {
		if (getId('id_auth').value == '1')
		{
			document.procForm2.new_id.focus();
		}
		if (getId('id_auth').value == '2')
		{
			document.procForm2.new_pw_a.focus();
		}
	}
}
function idCheck(f)
{
	if (f.name.value == '')
	{
		alert('이름을 입력해 주세요.   ');
		f.name.focus();
		return false;
	}
	if (f.email.value == '')
	{
		alert('@Html.Raw(idOrEmail_rev + "을 입력해 주세요.")   ');
		f.email.focus();
		return false;
	}
    /*
	if (f.birth_1.value == '')
	{
		alert('생년월일을 지정해 주세요.');
		f.birth_1.focus();
		return false;
	}
	if (f.birth_2.value == '')
	{
		alert('생년월일을 지정해 주세요.');
		f.birth_2.focus();
		return false;
	}
	if (f.birth_3.value == '')
	{
		alert('생년월일을 지정해 주세요.');
		f.birth_3.focus();
		return false;
	}*/
}
function pwCheck(f)
{
	if (f.new_id.value == '')
	{
		alert('@Html.Raw(idOrEmail + "를 입력해 주세요.")   ');
		f.new_id.focus();
		return false;
	}
	if (f.id_auth.value == '2')
	{
		if (f.new_pw_a.value == '')
		{
			alert('답변을 입력해 주세요.   ');
			f.new_pw_a.focus();
			return false;
		}
	}
	if (f.id_auth.value == '3')
	{
		if (f.new_pw1.value == '')
		{
			alert('새 패스워드를 입력해 주세요.');
			f.new_pw1.focus();
			return false;
		}
		if (f.new_pw2.value == '')
		{
			alert('새 패스워드를 한번더 입력해 주세요.');
			f.new_pw2.focus();
			return false;
		}
		if (f.new_pw1.value != f.new_pw2.value)
		{
			alert('새 패스워드가 일치하지 않습니다.');
			f.new_pw1.focus();
			return false;
		}

		alert('입력하신 패스워드로 재등록 되었습니다.');
	}
}

window.onload = function()
{
	@if(ftype == "pw") {
	    @Html.Raw("tabShow(2);\n");
	}
    else if(ftype == "auth") {
        @Html.Raw("tabShow(3);\n");
    }
    else {
	    @Html.Raw("document.procForm1.name.focus();\n");
    }
}
//]]>
</script>