@{
    /*****************************************************************
    // Programmed by SungHO Kim (Migration: Yoona Sim)
    // KimsQ-Rx (for Microsoft Razor)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    *****************************************************************/

    var _m = PageData[1];
    var c = PageData[2];
    var m = PageData[3];
    var r = PageData[12];
    
    var mod = Request["mod"];

    dynamic _HS = PageData[5];
    dynamic g = Session["g"];

    dynamic d_member = _DB.Get_code("member");
}

<div id="pages_join">


	<form name="procForm" action="@g["s"]/" method="get">
	<input type="hidden" name="r" value="@r" />
	<input type="hidden" name="c" value="@c" />
	<input type="hidden" name="m" value="@_m" />
    <input type="hidden" name="m_ori" value="@m" />
	<input type="hidden" name="front" value="@Session["front"]" />
	<input type="hidden" name="mod" value="@mod" />
	<input type="hidden" name="page" value="step2" />
	<input type="hidden" name="comp" value="0" />



	<h2>회원가입</h2>

	<div class="msg">
		회원으로 가입을 원하실 경우, 아래의 <span class="b">'홈페이지 약관 및 개인정보 수집·이용'</span>에 대한 안내를 반드시 읽고 <span class="b">동의</span>해 주세요. 
	</div>

	<div class="tab">
		<ul>
		<li id="tagree1" class="selected" onclick="tabShow(1);">홈페이지 이용약관</li>
		<li id="tagree2" onclick="tabShow(2);">개인정보수집 및 이용목적</li>
		<li id="tagree3" onclick="tabShow(3);">수집하는 개인정보의 항목</li>
		<li id="tagree4" onclick="tabShow(4);">개인정보보유 및 이용기간</li>
		<li id="tagree5" onclick="tabShow(5);">개인정보의 위탁처리</li>
		</ul>
	</div>
	<div class="agreebox">
		<div id="bagree1">
			<textarea readonly="readonly">@RenderPage("\\"+g["dir_module"]+"var\\agree1.cshtml")</textarea>
			<div class="more"><a href="@_System.RW("mod=agreement", g["r"], _HS)" target="_blank">더보기..</a></div>
		</div>
		<div id="bagree2" class="hide">
			<textarea readonly="readonly">@RenderPage("\\" + g["dir_module"] + "var\\agree2.cshtml")</textarea>
			<div class="more"><a href="@_System.RW("mod=private#p1", g["r"], _HS)" target="_blank">더보기..</a></div>
		</div>
		<div id="bagree3" class="hide">
			<textarea readonly="readonly">@RenderPage("\\" + g["dir_module"] + "var\\agree3.cshtml")</textarea>
			<div class="more"><a href="@_System.RW("mod=private#p2", g["r"], _HS)" target="_blank">더보기..</a></div>
		</div>
		<div id="bagree4" class="hide">
			<textarea readonly="readonly">@RenderPage("\\" + g["dir_module"] + "var\\agree4.cshtml")</textarea>
			<div class="more"><a href="@_System.RW("mod=private#p3", g["r"], _HS)" target="_blank">더보기..</a></div>
		</div>
		<div id="bagree5" class="hide">
			<textarea readonly="readonly">@RenderPage("\\" + g["dir_module"] + "var\\agree5.cshtml")</textarea>
			<div class="more"><a href="@_System.RW("mod=private#p4", g["r"], _HS)" target="_blank">더보기..</a></div>
		</div>
	</div>
	


	<div class="agreecheck">
		<input type="checkbox" name="agreecheckbox" id="agreecheckbox" /><label for="agreecheckbox">위의 <span class="b">'이용약관 및 개인정보 수집·이용'</span>에 동의 합니다.</label>
	</div>


	<div class="submitbox">
		<input type="button" value="가입취소" class="btngray" onclick="goHref('@_System.RW("", g["r"], _HS)');" />
        
        @if (d_member["form_comp"] == "1" && d_member["form_jumin"] != "1")
        {
		<input type="button" value="개인회원가입" class="btnblue" onclick="return nextStep(0);" />
		<input type="button" value="기업회원가입" class="btnblue" onclick="return nextStep(1);" />            
        }
        else {
        <input type="button" value="다음단계로" class="btnblue" onclick="return nextStep(0);" />    
        }
	</div>

	</form>
</div>


<script type="text/javascript">
//<![CDATA[
    function nextStep(n) {
        var f = document.procForm;

        if (f.agreecheckbox.checked == false) {
            alert('회원으로 가입을 원하실 경우,\n\n[홈페이지 약관 및 개인정보 수집·이용]에 동의하셔야 합니다.');
            return false;
        }


        f.comp.value = n;
        f.submit();
    }
    function tabShow(n) {
        var i;

        for (i = 1; i < 6; i++) {
            getId('tagree' + i).style.borderTop = '#dfdfdf solid 1px';
            getId('tagree' + i).style.borderLeft = '#dfdfdf solid 1px';
            getId('tagree' + i).style.borderRight = '#dfdfdf solid 1px';
            getId('tagree' + i).style.background = '#f9f9f9';
            getId('tagree' + i).style.color = '#666666';
            getId('bagree' + i).style.display = 'none';
        }
        getId('tagree' + n).style.borderTop = '#000000 solid 1px';
        getId('tagree' + n).style.borderLeft = '#000000 solid 1px';
        getId('tagree' + n).style.borderRight = '#000000 solid 1px';
        getId('tagree' + n).style.background = '#000000';
        getId('tagree' + n).style.color = '#ffffff';
        getId('bagree' + n).style.display = 'block';
    }
//]]>
</script>


@{
    // 지역세션 정리
    Session["g_main"] = "";
    Session["g_dir_module_mode"] = "";
    Session["g_url_module_mode"] = "";
    Session["front"] = "";
    Session["mod"] = "";
}