@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: TaiHyung Kim, YoonA Shim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/
    

    //////////////////////////////////////////////////////////////////
    /// Get PageDate
    //////////////////////////////////////////////////////////////////
    var g = PageData[0];
    var m = PageData[1];
    var _HS = PageData[2];
    var my = PageData[3];
    var _isDragScript = PageData[4];
    var p = PageData[5];
    var r = PageData[6];
    var s = PageData[7];
    var module = PageData[8];
    var date = PageData[9];

    //////////////////////////////////////////////////////////////////
    /// Get Request
    //////////////////////////////////////////////////////////////////
    var year1 = Request["year1"];
    var month1 = Request["month1"];
    var day1 = Request["day1"];
    var year2 = Request["year2"];
    var month2 = Request["month2"];
    var day2 = Request["day2"];
    var sort = Request["sort"];
    var orderby = Request["orderby"];
    var recnum = Request["recnum"];
    var account = Request["account"];
    var where = Request["where"];
    var keyw = Request["keyw"];
    var front = Request["front"];
    
    string frame_name = "_action_frame_" + m;
    string accountQue = "";
    
    decimal TPG = 0;

    if (year1 == null || year1 == "") 
    {
        year1 = date["year"];
    }
    if (month1 == null || month1 == "") 
    {
        month1 = date["month"];
    }
    if (day1 == null || day1 == "") 
    {
        day1 = "01";
    }
    
    if (year2 == null || year2 == "") 
    {
        year2 = date["year"]; ;
    }
    if (month2 == null || month2 == "") 
    {
        month2 = date["month"];
    }
    if (day2 == null || day2 == "") 
    {
        day2 = date["day"];
    }
    
    if (sort == "" || sort == null) 
    {
        sort = "uid";
    }
    if (orderby == "" || orderby == null) 
    {
        orderby = "asc";
    }
    
    if (recnum == null || recnum == "" || Convert.ToInt32(recnum) >= 200)
    {
     
        recnum = "20";
    }

    if (account != null && account != "")
    {
        accountQue = "site=" + account + " and ";
    }

    string _WHERE = accountQue + "d_regis BETWEEN '" + year1 + "-" + month1 + "-" + day1 + " 00:00:00' AND '" + year2 + "-" + month2 + "-" + day2 + " 23:59:59'";

    if (where != null && where != "" && keyw != null && keyw != "")
    {
        if (where.Contains("[name][nic][id][ip]"))
        {
            _WHERE = _WHERE + " and " + where + "='" + keyw + "'";
        }
        else
        {
            if (keyw.Length > 2)
            {   // 2 byte over
                _WHERE = _WHERE + _System.getSearchSql(where, keyw, "", "or");
            }
            else
            {
                @_System.getLink("", "", "검색어는 3자 이상 입니다.", "-1")
                return;
            }
        }
    }

    int list_start = (Convert.ToInt32(p) - 1) * Convert.ToInt32(recnum);

    string SITES_sql = "SELECT * FROM " + AppState["table_s_site"].ToString() + " ORDER BY gid asc";

    string RCD_sql = _System.GetQuery(AppState["table_s_comment"].ToString(), "", _WHERE, sort, orderby, list_start, recnum);

    int NUM = _DB.GetDbData_Count(AppState["table_s_comment"].ToString(), _WHERE);
    TPG = _System.getTotalPage(Convert.ToDecimal(NUM), Convert.ToDecimal(recnum));     // total page count
}

<div id="bbslist">
	<div class="sbox">
		<form name="procForm" action="@g["s"]/" method="get">
		<input type="hidden" name="r" value="@r" />
		<input type="hidden" name="m" value="@m" />
		<input type="hidden" name="module" value="@module" />
		<input type="hidden" name="front" value="@front" />

		<select name="account" class="account" onchange="this.form.submit();">
		<option value="">&nbsp;+ 전체사이트</option>
		<option value="">---------------------------</option>
        @if (_DB.getDbRows(SITES_sql) == 0)
        {
            <option value="">등록된 사이트가 없습니다.</option>
        }
        else
        {
            foreach (var S in _DB.Query(SITES_sql))
            {
                string sltUid = "";

                if (account != null && account != "" && Convert.ToInt32(account) == S["uid"])
                {
                    sltUid = "selected='selected'";
                }
                    
                <option value="@S["uid"]" @sltUid>ㆍ @S["name"]</option>
            }
        }        
		</select>

		<div>
        <select name="year1">
        @{
            for (int i = Convert.ToInt32(date["year"]); i > 2000; i--)
            {
                string yearSelect = "";

                if (Convert.ToInt32(year1) == i)
                {
                    yearSelect = "selected='selected'";
                }
                
                <option value="@i" @yearSelect>@Html.Raw(i + "년")</option>
            }   
        }
        </select>

        <select name="month1">
        @{
            for (int i = 1; i < 13; i++)
            {
                string monthSelect = "";

                if (Convert.ToInt32(month1) == i)
                {
                    monthSelect = "selected='selected'";
                }

                string mStr = i.ToString();
                
                <option value="@_System.DateSet(i)" @monthSelect>@_System.DateSet(i)월</option>
            }   
        }
        </select>

        <select name="day1">
        @{
            for (int i = 1; i < 32; i++)
            {
                string daySelect = "";

                if (Convert.ToInt32(day1) == i)
                {
                    daySelect = "selected='selected'";
                }

                string dStr = i.ToString();
                
                <option value="@_System.DateSet(i)" @daySelect>@_System.DateSet(i)일</option>
            }
        }
        </select>~

        <select name="year2">
        @{
            for (int i = Convert.ToInt32(date["year"]); i > 2000; i--)
            {
                string yearSelect = "";

                if (Convert.ToInt32(year2) == i)
                {
                    yearSelect = "selected='selected'";
                }
                
                <option value="@i" @yearSelect>@Html.Raw(i + "년")</option>
            }   
        }
        </select>

        <select name="month2">
        @{            
            for (int i = 1; i < 13; i++)
            {
                string monthSelect = "";

                if (Convert.ToInt32(month2) == i)
                {
                    monthSelect = "selected='selected'";
                }

                string mStr = i.ToString();
                
                <option value="@_System.DateSet(i)" @monthSelect>@_System.DateSet(i)월</option>
            }            
        }
        </select>

        <select name="day2">
        @{            
            for (int i = 1; i < 32; i++)
            {
                string daySelect = "";

                if (Convert.ToInt32(day2) == i)
                {
                    daySelect = "selected='selected'";
                }

                string dStr = i.ToString();
                
                <option value="@_System.DateSet(i)" @daySelect>@_System.DateSet(i)일</option>
            }               
        }
        </select>
            
        @{
            DateTime now_date = date["totime"];

            DateTime yester1 = now_date.AddDays(-1);
            DateTime week1 = now_date.AddDays(-7);
            DateTime month1_1 = now_date.AddMonths(-1);
            DateTime now_month1 = new DateTime(now_date.Year, now_date.Month, 1);
            DateTime pre_month1 = now_month1.AddMonths(-1);
            DateTime pre_month2 = (pre_month1.AddMonths(1)).AddDays(-1);
		}
        
        <input type="button" class="btngray" value="기간적용" onclick="this.form.submit();" />
		<input type="button" class="btngray" value="어제" onclick="dropDate('@yester1.ToString().Substring(0, 10)','@yester1.ToString().Substring(0, 10)');" />
		<input type="button" class="btngray" value="오늘" onclick="dropDate('@now_date.ToString().Substring(0, 10)','@now_date.ToString().Substring(0, 10)');" />
		<input type="button" class="btngray" value="일주" onclick="dropDate('@week1','@now_date.ToString().Substring(0, 10)');" />
		<input type="button" class="btngray" value="한달" onclick="dropDate('@month1_1','@now_date.ToString().Substring(0, 10)');" />
        <input type="button" class="btngray" value="당월" onclick="dropDate('@now_month1','@now_date.ToString().Substring(0, 10)');" />
		<input type="button" class="btngray" value="전월" onclick="dropDate('@pre_month1','@pre_month2');" />
		<input type="button" class="btngray" value="전체" onclick="dropDate('2009-01-01','@now_date.ToString().Substring(0, 10)');" />
		</div>

		<div>
		<select name="sort" onchange="this.form.submit();">
        
        @{            
            string sltSort_uid = "";
            string sltSort_hit = "";
            string sltSort_oneline = "";
            string sltSort_score1 = "";
            string sltSort_score2 = "";
            string sltSort_singo = "";

            if (sort == "uid")
            {
                sltSort_uid = "selected='selected'";
            }
            if (sort == "hit")
            {
                sltSort_hit = "selected='selected'";
            }
            if (sort == "oneline")
            {
                sltSort_oneline = "selected='selected'";
            }
            if (sort == "score1")
            {
                sltSort_score1 = "selected='selected'";
            }
            if (sort == "score2")
            {
                sltSort_score2 = "selected='selected'";
            }
            if (sort == "singo")
            {
                sltSort_singo = "selected='selected'";
            }
            
            <option value="uid" @sltSort_uid>등록일</option>
            <option value="hit" @sltSort_hit>조회</option>
            <option value="oneline" @sltSort_oneline>한줄의견</option>            
            <option value="score1" @sltSort_score1>점수1</option>            
            <option value="score2" @sltSort_score2>점수2</option>            
            <option value="singo" @sltSort_singo>신고</option>            
        }
        </select>

		<select name="orderby" onchange="this.form.submit();">
        @{
            string sltOrderby_desc = "";
            string sltOrderby_asc = "";

            if (orderby == "desc")
            {
                sltOrderby_desc = "selected='selected'";
            }
            if (orderby == "asc")
            {
                sltOrderby_asc = "selected='selected'";
            }
            <option value="desc" @sltOrderby_desc>역순</option>
            <option value="asc" @sltOrderby_asc>정순</option>
        }
		</select>

		<select name="recnum" onchange="this.form.submit();">
        @{
            string sltRec20 = "";
            string sltRec35 = "";
            string sltRec50 = "";
            string sltRec75 = "";
            string sltRec90 = "";

            if (Convert.ToInt32(recnum) == 20)
            {
                sltRec20 = "selected='selected'";
            }
            if (Convert.ToInt32(recnum) == 35)
            {
                sltRec35 = "selected='selected'";
            }
            if (Convert.ToInt32(recnum) == 50)
            {
                sltRec50 = "selected='selected'";
            }
            if (Convert.ToInt32(recnum) == 75)
            {
                sltRec75 = "selected='selected'";
            }
            if (Convert.ToInt32(recnum) == 90)
            {
                sltRec90 = "selected='selected'";
            }
            <option value="20" @sltRec20>20개</option>
            <option value="35" @sltRec35>35개</option>
            <option value="50" @sltRec50>50개</option>
            <option value="75" @sltRec75>75개</option>
            <option value="90" @sltRec90>90개</option>
        }
        </select>
        
		<select name="where">
        @{
            string sltWhere_subject = "";
            string sltWhere_content = "";
            string sltWhere_name = "";
            string sltWhere_id = "";
            string sltWhere_ip = "";

            if (where == "subject")
            {
                sltWhere_subject = "selected='selected'";
            }
            if (where == "content")
            {
                sltWhere_content = "selected='selected'";
            }
            if (where == "name|nic")
            {
                sltWhere_name = "selected='selected'";
            }
            if (where == "id")
            {
                sltWhere_id = "selected='selected'";
            }
            if (where == "ip")
            {
                sltWhere_ip = "selected='selected'";
            }
            <option value="subject" @sltWhere_subject>제목</option>
            <option value="content" @sltWhere_content>본문</option>
            <option value="name|nic" @sltWhere_name>이름</option>
            <option value="id" @sltWhere_id>아이디</option>
            <option value="ip" @sltWhere_ip>아이피</option>
        }
		</select>

		<input type="text" name="keyw" value="@_System.stripslashes(keyw)" class="input" />
		<input type="submit" value="검색" class="btnblue" />
		<input type="button" value="리셋" class="btngray" onclick="location.href='@g["adm_href"]';" />
		</div>

		</form>
	</div>

	<form name="listForm" action="@g["s"]/" method="post" target="@frame_name">
	<input type="hidden" name="r" value="@r" />
	<input type="hidden" name="m" value="@module" />
	<input type="hidden" name="a" value="" />

	<div class="info">
		<div class="article">
            @string.Format("{0:#,0}", Convert.ToInt32(NUM))개(@p/@TPG 페이지)			
		</div>
		
		<div class="category">

		</div>
		<div class="clear"></div>
	</div>

	<table summary="댓글리스트 입니다.">
	<caption>댓글리스트</caption> 
	<colgroup> 
	<col width="30"> 
	<col width="50"> 
	<col width="380"> 
	<col width="80"> 
	<col width="50"> 
	<col width="50"> 
	<col width="50"> 
	<col width="50"> 
	<col width="80">
	<col>
	</colgroup> 
	<thead>
	<tr>
	<th scope="col" class="side1"><img src="@g["img_core"]/_public/ico_check_01.gif" alt="선택/반전" class="hand" onclick="chkFlag('comment_members');" /></th>
	<th scope="col">번호</th>
	<th scope="col">제목</th>
	<th scope="col">이름</th>
	<th scope="col">조회</th>
	<th scope="col">점수1</th>
	<th scope="col">점수2</th>
	<th scope="col">신고</th>
	<th scope="col">날짜</th>
	<th scope="col" class="side2"></th>
	</tr>
	</thead>
	<tbody>

    @{
        if (_DB.getDbRows(RCD_sql) == 0)
        {
            <tr>
	        <td><input type="checkbox" disabled="disabled" /></td>
	        <td>1</td>
	        <td class="sbj1">댓글이 없습니다.</td>
	        <td class="hit b">-</td>
	        <td class="hit b">-</td>
	        <td class="hit b">-</td>
	        <td class="hit b">-</td>
	        <td class="hit b">-</td>
	        <td class="hit b">-</td>
	        <td></td>
	        </tr> 
        }
        else
        {
            int _rec = 0;

            foreach (var R in _DB.Query(RCD_sql))
            {
                int tmp_num = ((Convert.ToInt32(p) - 1) * Convert.ToInt32(recnum)) + _rec++;
                int tmp_num2 = NUM - tmp_num;

                string mobile_chk = _System.isMobileConnect(R["agent"]);     // 모바일 체크

	            <tr>
	            <td><input type="checkbox" name="comment_members" value="@R["uid"]" /></td>
	            <td>@tmp_num2</td>
	            <td class="sbj">
                    
		        @if (mobile_chk != "")
          {
                    <img src="@g["img_core"]/_public/ico_mobile.gif" class="imgpos" alt="모바일" title="모바일(@mobile_chk)로 등록된 글입니다" />
          }

                <a href="@Html.Raw(_System.getCyncURL(R["cync"], 6, '[', ',', ':') + "&CMT=" + R["uid"] + "#CMT")" target="_blank" title="@_System.getStrCut(R["content"].Replace("&nbsp;", ""), 200, "...")" onmouseover="qTilePop(this);" onmouseout="qTilePopKill(this);">@R["subject"]</a>
        
                @if (R["content"].Contains(".jpg"))
                {
                    <img src="@g["img_core"]/_public/ico_pic.gif" class="imgpos" alt="사진" title="사진" />
                }

                @if (R["upload"] != null && R["upload"] != "")
                {
                    <img src="@g["img_core"]/_public/ico_file.gif" class="imgpos" alt="첨부파일" title="첨부파일" />
                }
                
                @if (R["hidden"] == "1")
                {
                    <img src="@g["img_core"]/_public/ico_hidden.gif" class="imgpos" alt="비밀글" title="비밀글" />
                }
                
                @if (R["oneline"] != 0)
                {
                    <span class="comment">[@R["oneline"]]</span>
                }

                @if (_System.getNew(R["d_regis"].ToString(), 24) == true)
                {
                    <span class="new">new</span>
                }                
                
	            </td>
	            <td class="name">@R[_HS["nametype"]]</td>
	            <td class="hit b">@R["hit"]</td>
	            <td class="hit b">@R["score1"]</td>
	            <td class="hit b">@R["score2"]</td>
	            <td class="hit b">@R["singo"]</td>
	            <td>@R["d_regis"].ToString("yyyy.MM.dd HH.dd")</td>
	            <td></td>
	            </tr> 
            }
        }
    }
	</tbody>
	</table>


	<div class="pagebox01">
	<script type="text/javascript">getPageLink(10,@p,@TPG,"@g["img_core"]/page/default");</script>
	</div>

    <input type="button" class="btngray" value="선택/해제" onclick="chkFlag('comment_members');" />
	<input type="button" class="btnblue" value="삭제" onclick="actQue('multi_delete');" />
	</form>

</div>

<div id="qTilePopDiv"></div>

<script type="text/javascript">
//<![CDATA[
function dropDate(date1,date2)
{
	var f = document.procForm;
    
	f.year1.value = date1.substring(0, 4);
	f.month1.value = date1.substring(5, 7);
	f.day1.value = date1.substring(8, 10);
	
	f.year2.value = date2.substring(0, 4);
	f.month2.value = date2.substring(5, 7);
	f.day2.value = date2.substring(8, 10);

    f.submit();
}

function qTilePop(obj) {
    var content = '<div style="width:300px;line-height:150%;font-family:dotum;color:#666666;border:#999999 solid 1px;padding:3px;background:lightyellow;">' + obj.title + '</div>';
    skn.style.position = 'absolute';
    skn.style.display = 'block';
    skn.style.zIndex = '1';
    itt = obj.title;
    obj.title = '';
    skn.innerHTML = content;
}

function get_mouse(e) {
    var x = myagent != 'ie' ? e.pageX : event.x + (document.body.scrollLeft || document.documentElement.scrollLeft);
    var y = myagent != 'ie' ? e.pageY : event.y + (document.body.scrollTop || document.documentElement.scrollTop);
    skn.style.left = (x - 0) + 'px';
    skn.style.top = (y + 20) + 'px';
}

function qTilePopKill(obj) {
    obj.title = itt;
    itt = '';
    skn.style.top = '10000';
    skn.style.display = 'none';
}

if (myagent != 'ie') document.captureEvents(Event.MOUSEMOVE);
document.onmousemove = get_mouse;

var skn = getId('qTilePopDiv');
var itt = '';

function actQue(flag) {
    var f = document.listForm;
    var l = document.getElementsByName('comment_members');
    var n = l.length;
    var i;
    var j = 0;
    var s = '';

    for (i = 0; i < n; i++) {
        if (l[i].checked == true) {
            j++;
            s += l[i].value + ',';
        }
    }
    
    if (!j) {
        alert('댓글을 선택해 주세요.     ');
        return false;
    }

    if (flag == 'multi_delete') {
        if (!confirm('정말로 삭제하시겠습니까?     ')) {
            return false;
        }
    }
    f.a.value = flag;
    f.submit();
}
//]]>
</script>
