@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: YoonA Shim, TaiHyung Kim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/   
    dynamic _HS = PageData[1];
    var wdgvar = PageData[2];

    string swidget = PageData[3];
    dynamic g = PageData[0];    

    //string swidget = Request["swidget"]; 
    string r = Request["r"];
    string option = Request["option"];
    string isWcode = Request["isWcode"];
    string dropfield = Request["dropfield"];

    if (!wdgvar.ContainsKey("url"))
    {
        wdgvar.Add("url", "");
    }
    if (!wdgvar.ContainsKey("width"))
    {
        wdgvar.Add("width", "");
    }
    if (!wdgvar.ContainsKey("height"))
    {
        wdgvar.Add("height", "");
    }
    if (!wdgvar.ContainsKey("border"))
    {
        wdgvar.Add("border", "0");
    }
    if (!wdgvar.ContainsKey("scroll"))
    {
        wdgvar.Add("scroll", "no");
    }
}





<div id="mjointbox">

	<div class="title">
		이 위젯(<span class="b">@_System.getFolderName(g["path_root_ps"] + g["path_widget"] + swidget, "name.txt")</span>)을 추가하시겠습니까?
	</div>
    
    @if (isWcode == "Y")
    {
	    <div class="none">
	    <img src="@g["img_core"]/_public/ico_notice.gif" alt="" />
	    이 위젯은 위젯코드를 지원하지 않습니다.
	    </div>
    }
    else
    {
 	    <form name="procform" onsubmit="return saveCheck(this);">
	    <table>
	    <tr>
	    <td class="td1">아이프레임주소</td>
	    <td class="td2">:</td>
	    <td class="td3">
		    <input type="text" name="url" value="@wdgvar["url"]" size="40" class="input" />
	    </td>
	    </tr>
	    <tr>
	    <td class="td1">노출사이즈</td>
	    <td class="td2">:</td>
	    <td class="td3">
		    <input type="text" name="width" value="@wdgvar["width"]" size="5" class="input" />*<input type="text" name="height" value="@wdgvar["height"]" size="5" class="input" />px
	    </td>
	    </tr>
	    <tr>
	    <td class="td1">보더</td>
	    <td class="td2">:</td>
	    <td class="td3"><input type="text" name="border" value="@wdgvar["border"]" size="5" class="input" /></td>
	    </tr>
	    <tr>
	    <td class="td1">스크롤</td>
	    <td class="td2">:</td>
	    <td class="td3"><input type="text" name="scroll" value="@wdgvar["scroll"]" size="5" class="input" /></td>
	    </tr>
	    </table>
	    <div class="btnbox">
    @{
        <input type="submit" value="@Html.Raw((option != null && option != "") ?  "속성변경" : "위젯추가")" class="btnblue" />
        swidget = swidget.Replace("\\", "/");
    } 
	    </div>
	    </form>       
    }

</div>

<style type="text/css">
#mjointbox {}
#mjointbox .title {border-bottom:#dfdfdf dashed 1px;padding:0 0 10px 0;margin:0 0 20px 0;}
#mjointbox .td1 {padding:0 20px 0 0;letter-spacing:-1px;}
#mjointbox .td2 {padding:0 15px 0 0;color:#c0c0c0;}
#mjointbox .td3 {}
#mjointbox .btnbox {text-align:center;padding:20px 0 0 0;margin:20px 0 0 0;border-top:#dfdfdf dashed 1px;}
</style>






<script type="text/javascript">
//<![CDATA[
function saveCheck(f)
{
	if (f.url.value == '')
	{
		alert('아이프레임 주소를 입력해 주세요.      ');
		f.url.focus();
		return false;
	}

    @if(option==null || option==""){
	    @Html.Raw("var i; \n");
	    @Html.Raw("var n = 0; \n");

        @Html.Raw("for (i=0; i<opener.maxTiles; i++) \n");
	    @Html.Raw("{ \n");
        @Html.Raw("if (opener.moveObject[i].style.display=='block') \n");
		@Html.Raw("{ \n");
		@Html.Raw("n = i+1; \n");
        @Html.Raw("} \n");
        @Html.Raw("} \n");
    }
    else{
    	@Html.Raw("var n = " + dropfield + "; \n");
    }

    @if(option==null || option==""){
        @Html.Raw("opener.createTile((f.width.value?f.width.value:200)+'px',(f.height.value?f.height.value:200)+'px','0px','0px');; \n");
    }

	opener.blocktitle[n] = '아이프레임';
	opener.blockarray[n] = "@swidget,url^" + f.url.value + ",width^"+f.width.value + ",height^" + f.height.value + ",border^" + f.border.value + ",scroll^" + f.scroll.value;
	opener.getId('wtitle'+n).innerHTML = opener.blocktitle[n];
	top.close();
	return false;
}
//]]>
</script>


