@{
    /*****************************************************************
    //
    //// Programmed by SungHO Kim (Migration: TaiHyung Kim, YoonAh Sim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/
    
    
    var g = PageData[0];
    var _m = PageData[1];
    var m = PageData[3];
    var p = PageData[4];
    var _HS = PageData[5];
    var my = PageData[6];
    var _keyword = PageData[10];
    var _mod = PageData[11];
    var r = PageData[12];

    dynamic date = _System.GetVDate(_HS["timecal"]);

    string sort = Request["sort"];
    string orderby = Request["orderby"];
    string recnum = Request["recnum"];
    string where = Request["where"];
    string keyword = Request["keyword"];
    string front = Request["front"];
    string category = Request["category"];
    string frame_name = "_action_frame_"+m;
    
    decimal TPG = 0;
        
    if(sort == null || sort == "") {
        sort = "uid";
    }
    if(orderby == null || orderby == "") {
        orderby = "desc";
	}        
    if(recnum == null || recnum == "" || Convert.ToInt32(recnum) >= 200) {
        recnum = "20";
	}
    
    string sqlque = "";
    
    if(category != null && category != "") {
        sqlque = " AND category='" + category +"'";
	}
    

    /*
    if (where != null && where != "" && keyword != null && keyword != "")
    {
        string where_set = "(";

        char[] delimiter = { '|' };
        string[] strArray = where.Split(delimiter);
        int str_int = 0;

        sqlque = sqlque + " AND ";

        foreach (var tmp in strArray)
        {
            if (str_int > 0)
            {
                where_set = where_set + " OR ";
            }

            where_set = where_set + tmp + " LIKE '%" + keyword + "%'";
            str_int++;
        }
        where_set = where_set + ")";
        sqlque = sqlque + where_set;
    }
    */
    
    
    int list_start = (Convert.ToInt32(p) - 1) * Convert.ToInt32(recnum);      // 페이지별 리스트 개수
    int NUM = _DB.GetDbData_Count(AppState["table_s_scrap"].ToString(), "mbruid=" + my["uid"] + sqlque);

    string RCD_sql = _System.GetQuery(AppState["table_s_scrap"].ToString(), "", "mbruid=" + my["uid"] + sqlque, sort, orderby, list_start, recnum);

    TPG = @_System.getTotalPage(Convert.ToDecimal(NUM), Convert.ToDecimal(recnum));     // 총 페이지수
    
    @RenderPage("_menu.cshtml", g, m);            // 개별 페이지 상단 메뉴부
}

<div id="scraplist">
	<div class="info">
		<div class="article">
			@string.Format("{0:#,0}", Convert.ToInt32(NUM))개(@p/@TPG 페이지)
		</div>
		<div class="category">
			<select onchange="goHref('@g["url_page"]&category='+this.value);">
			<option value="">&nbsp;+ 전체</option>
			<option value="">-------------</option>
            @{
                string _CATS_sql = "SELECT category FROM " + AppState["table_s_scrap"] + " WHERE mbruid=" + my["uid"] + " AND category<>'' group by category";

                
                foreach (var _R in _DB.Query(_CATS_sql))
                {
                    string category_sel = "";

                    if (_R["category"] == category)
                    {
                        category_sel = " selected='selected'";
                    }
                    <option value="@_R["category"]"@Html.Raw(category_sel)>ㆍ @_R["category"]</option>
                }
			}
			</select>
		</div>
		<div class="clear"></div>
	</div>

    <form name="procForm" action="@g["s"]/" method="post" target="@frame_name" onsubmit="return submitCheck(this);">
    <input type="hidden" name="r" value="@r" />
	<input type="hidden" name="m" value="@m" />
	<input type="hidden" name="front" value="@front" />
	<input type="hidden" name="a" value="" />

	<table summary="스크랩 리스트입니다.">
	<caption>스크랩</caption> 
	<colgroup> 
	<col width="30"> 
	<col width="50"> 
	<col width="100"> 
	<col> 
	<col width="90"> 
	</colgroup> 
	<thead>
	<tr>
	<th scope="col" class="side1"><img src="@g["img_core"]/_public/ico_check_01.gif" class="hand" alt="" onclick="chkFlag('members');" /></th>
	<th scope="col">번호</th>
	<th scope="col">분류</th>
	<th scope="col">제목</th>
	<th scope="col" class="side2">날짜</th>
	</tr>
	</thead>
	<tbody>

	@if (NUM == 0)
 {
    	<tr>
	    <td><input type="checkbox" /></td>
	    <td>1</td>
	    <td class="cat">알림</td>
	    <td class="sbj1">스크랩자료가 없습니다.</td>
	    <td>@date["totime"].ToString().Substring(0, 10)</td>
	    </tr> 
 }
 else
 {
     int _rec = 0;

     foreach (var R in _DB.Query(RCD_sql))
     {
         int tmp_num = ((Convert.ToInt32(p) - 1) * Convert.ToInt32(recnum) + _rec++);
         int tmp_num2 = NUM - tmp_num;

        	<tr>
	        <td><input type="checkbox" name="members" value="@R["uid"]" /></td>
	        <td>@tmp_num2</td>
	        <td class="cat">@R["category"]</td>
	        <td class="sbj">
		        <a href="@R["url"]" target="_blank"><img src="@g["img_core"]/_public/ico_blank.gif" alt="" title="새창으로보기" /></a>
		        <a href="@R["url"]">@R["subject"]</a>
		        
                @if (_System.getNew(R["d_regis"].ToString(), 24) == true)
                {
                    <span class="new">new</span>
                }                
                
	        </td>
	        <td>@R["d_regis"].ToString("yyyy.MM.dd HH:mm")</td>
	        </tr> 
     }
 }

	</tbody>
	</table>
	

	<div class="pagebox01">
	<script type="text/javascript">getPageLink(10, @p, @TPG, '@g["img_core"]/page/default');</script>
	</div>

	<input type="text" name="category" id="iCategory" value="" class="input none" />
	<input type="button" value="분류지정" class="btngray" onclick="actCheck('scrap_category');" />
	<input type="button" value="삭제" class="btngray" onclick="actCheck('scrap_delete');" />

	</form>

</div>

<script type="text/javascript">
//<![CDATA[
function submitCheck(f)
{
	if (f.a.value == '')
	{
		return false;
	}
}
function actCheck(act)
{
	var f = document.procForm;
    var l = document.getElementsByName('members');
    var n = l.length;
	var j = 0;
    var i;

    for (i = 0; i < n; i++)
	{
		if(l[i].checked == true)
		{
			j++;	
		}
	}
	if (!j)
	{
		alert('선택된 항목이 없습니다.      ');
		return false;
	}

	if (act == 'scrap_category')
	{
		if (getId('iCategory').style.display == 'inline')
		{
			if (f.category.value == '')
			{
				alert('지정하려는 분류명을 입력해 주세요.   ');
				f.category.focus();
				return false;
			}
		}
		else {
			getId('iCategory').style.display = 'inline';
			f.category.focus();
			return false;
		}
	}
	
	if(confirm('정말로 실행하시겠습니까?    '))
	{
		f.a.value = act;
		f.submit();
	}
}
//]]>
</script>


