@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: YoonA Shim, TaiHyung Kim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/   
    var g = PageData[0];
    var _m = PageData[1];
    var c = PageData[2];
    var m = PageData[3];
    var p = PageData[4];
    var _HS = PageData[5];
    var my = PageData[6];
    var system = PageData[7];
    var d_layout = PageData[8];
    var s = PageData[9];
    var _keyword = PageData[10];
    var _mod = PageData[11];
    var r = PageData[12];
    var _HP = PageData[13];
    var _HM = PageData[14];
    var date = PageData[15];
    var referer = PageData[16];
    var wdgvar = PageData[17];     


    if (!wdgvar.ContainsKey("tabnum"))
    {
        wdgvar.Add("tabnum", "");
    }
    if (!wdgvar.ContainsKey("sbjcut"))
    {
        wdgvar.Add("sbjcut", "");
    } 
    
    if (wdgvar["tabnum"] == "")
    {
        wdgvar["tabnum"] = "6";
    }
    if (wdgvar["sbjcut"] == "")
    {
        wdgvar["sbjcut"] = "0";
    }
    
    for (int i = 0; i < Convert.ToInt32(wdgvar["tabnum"]) + 3; i++)
    {
        if (!wdgvar.ContainsKey("bid" + i.ToString()))
        {
            wdgvar.Add("bid" + i.ToString(), "");
        }
        if (!wdgvar.ContainsKey("title" + i.ToString()))
        {
            wdgvar.Add("title" + i.ToString(), "");
        }
        if (!wdgvar.ContainsKey("link" + i.ToString()))
        {
            wdgvar.Add("link" + i.ToString(), "");
        }
        if (!wdgvar.ContainsKey("limit" + i.ToString()))
        {
            wdgvar.Add("limit" + i.ToString(), "");
        }
    }

    string RCD_sql = "";

    int k = 0;
        
}


<div class="widget_main01">

	<div class="wright">

		<div class="review01">
        @if (wdgvar["link1"] != "")
        {
            <h6><a href="@wdgvar["link1"]">@wdgvar["title1"]</a></h6> 
        }
        else
        {
            <h6>@wdgvar["title1"]</h6> 
        }
			
			<ul>

            @{
                RCD_sql = "SELECT TOP(" + wdgvar["limit1"] + ") * FROM " + AppState["table_bbsdata"].ToString() + " WHERE " + ((wdgvar["bid1"] != "") ? "bbs='" + wdgvar["bid1"] + "' AND " : "") + "display='1' AND site=" + _HS["uid"] + " ORDER BY gid ASC";

                foreach (var _R in _DB.Query(RCD_sql))
                {
                    string _thumbimg = _System.getUploadImage(_R["upload"], _R["d_regis"].ToString(), _R["content"], "jpg|jpeg", g);

                    if (_thumbimg == "")
                    {
                        _thumbimg = g["img_core"] + "/blank.gif";
                    }

                    string _link = _System.getPostLink(s, _R, g["r"], _HS);
                    
                    <li>
				        <a href="@_link"><img src="@_thumbimg" width="70" height="50" alt="" /></a>
				        <span>
				        <a href="@_link">@_R["subject"]</a>

                        @if (_R["comment"] != 0)
                        {
                            <span class="comment">[@_R["comment"]@((_R["oneline"] != 0) ? "+" + _R["oneline"] : "")]</span>                      
                        }
                        @Html.Raw((_System.getNew(_R["d_regis"].ToString(), 24)) ? "<span class='new'>new</span>" : "")
			        </span>				        
			        </li>
                }        
            }

			</ul>

            @if (wdgvar.ContainsKey("link1"))
            {
                if (wdgvar["link1"] != "")
                {
                <a href="@wdgvar["link1"]" class="more" title="더보기">더보기</a>
                }
            }
            
		</div>


		<div class="gallery01">

            @if (wdgvar["link2"] != "")
            {
                <h6><a href="@wdgvar["link2"]">@wdgvar["title2"]</a></h6> 
            }
            else
            {
                <h6>@wdgvar["title2"]</h6> 
            }
        
			<ul>

            @{
                RCD_sql = "SELECT TOP(" + wdgvar["limit2"] + ") * FROM " + AppState["table_bbsdata"].ToString() + " WHERE " + ((wdgvar["bid2"] != "") ? "bbs='" + wdgvar["bid2"] + "' AND " : "") + "display='1' AND site=" + _HS["uid"] + " ORDER BY gid ASC";

                k = 0;

                foreach (var _R in _DB.Query(RCD_sql))
                {
                    k++;

                    string _thumbimg = _System.getUploadImage(_R["upload"], _R["d_regis"].ToString(), _R["content"], "jpg|jpeg", g);

                    if (_thumbimg == "")
                    {
                        _thumbimg = g["img_core"] + "/blank.gif";
                    }

                    string _link = _System.getPostLink(s, _R, g["r"], _HS);
                    
                    <li @Html.Raw((k % 2 != 0) ? "class=\"nogap\"" : "")>

                        <a href="@_link"><img src="@_thumbimg" width="115" height="85" alt="" /></a>
				        <span>
				        <a href="@_link">@_R["subject"]</a>

                        @if (_R["comment"] != 0)
                        {
                            <span class="comment">[@_R["comment"]@((_R["oneline"] != 0) ? "+" + _R["oneline"] : "")]</span>                      
                        }
                        @Html.Raw((_System.getNew(_R["d_regis"].ToString(), 24)) ? "<span class='new'>new</span>" : "")
    			        </span>				        
			        </li>
                }        
            }
			</ul>

            @if (wdgvar.ContainsKey("link2"))
            {
                if (wdgvar["link2"] != "")
                {
                <a href="@wdgvar["link2"]" class="more" title="더보기">더보기</a>
                }
            }

		</div>


	</div>

	<div class="wleft">

        @for (int _k = 4; _k <= Convert.ToInt32(wdgvar["tabnum"]); _k++)
        {
 		    <div class="review01">

                @if (wdgvar["link" + _k.ToString()] != "")
                {
                    <h6><a href="@wdgvar["link" + _k.ToString()]">@wdgvar["title" + _k.ToString()]</a></h6> 
                }
                else
                {
                    <h6>@wdgvar["title" + _k.ToString()]</h6>     
                }
			    <ul>

                @{
                    RCD_sql = "SELECT TOP(7) * FROM " + AppState["table_bbsdata"].ToString() + " WHERE " + ((wdgvar["title" + _k.ToString()] != "") ? "bbs='" + wdgvar["bid" + _k.ToString()] + "' AND " : "") + "display='1' AND site=" + _HS["uid"] + " ORDER BY gid ASC";

                    dynamic R = _DB.QuerySingle(RCD_sql);

                    if (R != null)
                    {
                        string _thumbimg = _System.getUploadImage(R["upload"], R["d_regis"].ToString(), R["content"], "jpg|jpeg", g);

                        if (_thumbimg == "")
                        {
                            _thumbimg = g["img_core"] + "/blank.gif";
                        }

                        string _link = _System.getPostLink(s, R, g["r"], _HS);
                        
			            <li class="photo">
				            <a href="@_link"><img src="@_thumbimg>" width="115" height="85" alt="" /></a>
				            <span><a href="@_link">@R["subject"]</a></span>
			            </li>
                    }

                    k = 0;

                    foreach (var _R in _DB.Query(RCD_sql))
                    {
                        string _link = _System.getPostLink(s, R, g["r"], _HS);
                        
 			            <li>
				            ㆍ<a href="@_link" @Html.Raw((k < 2) ? "class=\"b\"" : "")>@_R["subject"]</a>

                            @if (_R["comment"] != 0)
                            {
                                <span class="comment">[@_R["comment"]@((_R["oneline"] != 0) ? "+" + _R["oneline"] : "")]</span>                      
                            }
                            @Html.Raw((_System.getNew(_R["d_regis"].ToString(), 24)) ? "<span class='new'>new</span>" : "")
			            </li>                       
                        
                        k++;
                    }    
                }

			    </ul>

                @if (wdgvar.ContainsKey("link" + _k.ToString()))
                {
                    if (wdgvar["link" + _k.ToString()] != "")
                    {
                    <a href="@wdgvar["link" + _k.ToString()]" class="more" title="더보기">더보기</a>
                    }
                }
		    </div>          
        }
	


		<div class="post01">

            @if (wdgvar["link3"] != "")
            {
                <h6><a href="@wdgvar["link3"]">@wdgvar["title3"]</a></h6> 
            }
            else
            {
                <h6>@wdgvar["title3"]</h6> 
            }

			<ul> 

            @{
                RCD_sql = "SELECT TOP(" + wdgvar["limit3"] + ") * FROM " + AppState["table_bbsdata"].ToString() + " WHERE " + ((wdgvar["bid3"] != "") ? "bbs='" + wdgvar["bid3"] + "' AND " : "") + "display='1' AND site=" + _HS["uid"] + " ORDER BY gid ASC";

                k = 0;

                foreach (var _R in _DB.Query(RCD_sql))
                {
                    k++;
                    
                    <li @Html.Raw((k % 4 != 0) ? "class=\"nogap\"" : "")>
				        <a href="@_System.getPostLink(s, _R, g["r"], _HS)" @Html.Raw((k < 4) ? "class=\"b\"" : "")>@_System.getStrCut(_R["subject"], Convert.ToInt32(wdgvar["sbjcut"]),"")</a>
                        @if (_R["comment"] != 0)
                        {
                            <span class="comment">[@_R["comment"]@((_R["oneline"] != 0) ? "+" + _R["oneline"] : "")]</span>                      
                        }
                        @Html.Raw((_System.getNew(_R["d_regis"].ToString(), 24)) ? "<span class='new'>new</span>" : "")
			        </li>
                }        
                
                if (_DB.GetDbData_Count(AppState["table_bbsdata"].ToString(), " WHERE " + ((wdgvar["bid3"] != "") ? "bbs='" + wdgvar["bid3"] + "' AND " : "") + "display='1' AND site=" + _HS["uid"] == 0))
                {
                    <li class="none"></li>
                }
                  
            }
			</ul> 

            @if (wdgvar.ContainsKey("link3"))
            {
                if (wdgvar["link3"] != "")
                {
                <a href="@wdgvar["link3"]" class="more" title="더보기">더보기</a>
                }
            }
		</div>
	</div>


</div>
