@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: TaiHyung Kim, YoonA Sim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/
    var g = PageData[0];
    var c = PageData[2];
    var m = PageData[3];
    var p = PageData[4];
    var _keyword = PageData[10];
    var R = PageData[15];
    
    string skin = g["skin"];
    string iframe = g["iframe"];
    string sort = g["sort"];
    string orderby = g["orderby"];
    string recnum = g["recnum"];
    string where = g["where"];
    
    //var member = PageData[16];
    //var OCD = PageData[17];         
    //var NCD = PageData[18];
    //var RCD = PageData[19];         
    //var _HS = PageData[5];
    //var my = PageData[6];
    //var r = PageData[12];
}

<div id="pwbox">
	<div id="chkbox">

		<div class="msg">
			<h3><img src="@g["img_core"]/_public/ico_notice.gif" alt="" /> 비밀번호 확인</h3>
			<div>댓글 등록시에 입력했던 비밀번호를 입력해 주세요. </div>
		</div>

		<form name="checkForm" method="post" action="@g["s"]/" onsubmit="return permCheck(this);">
		<input type="hidden" name="type" value="" />
		<input type="hidden" name="c" value="@c" />
		<input type="hidden" name="m" value="@m" />
		<input type="hidden" name="skin" value="@skin" />
		<input type="hidden" name="iframe" value="@iframe" />
		<input type="hidden" name="p" value="@p" />
		<input type="hidden" name="sort" value="@sort" />
		<input type="hidden" name="orderby" value="@orderby" />
		<input type="hidden" name="recnum" value="@recnum" />		
		<input type="hidden" name="where" value="@where" />
		<input type="hidden" name="keyword" value="@_keyword" />
		<input type="hidden" name="uid" value="@R["uid"]" />

		<div class="ibox">
			<input type="password" name="pw" class="input" />
			<input type="submit" value=" 확인 " class="btnblue" />
			<input type="button" value=" 취소 " class="btngray" onclick="history.back();" />
		</div>

		</form>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
    var layer = getId('pwbox');
    layer.style.display = 'block';
    layer.style.left = '100px';
    layer.style.top = '10px';
//]]>
</script>