@{
    /*****************************************************************
    //
    // Programmed by SungHO Kim (Migration: YoonA Shim, TaiHyung Kim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/
    var g = PageData[0];
    var r = PageData[1];
    var d_layout = PageData[2];
    
    string _themeConfig = Request["_themeConfig"];
    string sns_hide = "";
    string sns_t = "";
    string sns_f = "";
    string sns_m = "";
    string sns_y = "";
    
    dynamic LAYOUT_ARR = _DB.Get_code_layout(d_layout["dir"]);   
    
    if(LAYOUT_ARR["sns_hide"] == "1")
    {
        sns_hide = "checked='checked'";
    }    
    
    DirectoryInfo di = new DirectoryInfo(g["path_root_ps"] + g["path_module"] + "social");
    
    if(LAYOUT_ARR["sns_t"] == "1")
    {
        sns_t = "checked='checked'";
    }
    if(LAYOUT_ARR["sns_f"] == "1")
    {
        sns_f = "checked='checked'";
    }
    if(LAYOUT_ARR["sns_m"] == "1")
    {
        sns_m = "checked='checked'";
    }
    if(LAYOUT_ARR["sns_y"] == "1")
    {
        sns_y = "checked='checked'";
    }
}

<div class="guide">
<span class="b">소셜로그인 서비스로 방문자의 쉬운 접근을 유도해 보세요.</span><br /><br />
소셜로그인 서비스를 위해서는 소셜링크 모듈을 설치해야 합니다.<br />
이 모듈은 <a href="http://rx.kimsq.com/" target="_blank" class="u">킴스큐RX 마켓</a>에서 구매하실 수 있습니다.<br />

@if (di.Exists == true)
{
    <span class="emp">(이 패키지는 소셜링크 모듈이 설치되어 있습니다)</span><br />    
}
else
{
    <span class="emp">(이 패키지는 소셜링크 모듈이 설치되어 있지 않습니다)</span><br />    
}

</div>

<form name="themeForm" method="post" action="@g["s"]/" onsubmit="return configCheck(this);">
<input type="hidden" name="r" value="@r" />
<input type="hidden" name="_layoutAction" value="config" />
<input type="hidden" name="nowLayout" value="@d_layout["dir"]" />
<input type="hidden" name="changeType" value="@_themeConfig" />


<table>
<tr>
<td class="t1">소셜로그인 지원</td>
<td class="t2">:</td>
<td class="t3">
	<label><input type="checkbox" name="sns_hide" value="1" @Html.Raw(sns_hide) />사용안함</label><br />
	<label><input type="checkbox" name="sns_t" value="1" @Html.Raw(sns_t) />트위터</label><br />
	<label><input type="checkbox" name="sns_f" value="1" @Html.Raw(sns_f) />페이스북</label><br />
	<label><input type="checkbox" name="sns_m" value="1" @Html.Raw(sns_m) />미투데이</label><br />
	<label><input type="checkbox" name="sns_y" value="1" @Html.Raw(sns_y) />다음요즘</label><br />
</td>
</tr>

<tr>
<td></td>
<td></td>
<td><div class="small"><br />소셜링크 모듈 설치 후 각각의 SNS 서비스에 APP을 등록해야 실 서비스를 할 수 있습니다.</div></td>
</tr>

<tr>
<td></td>
<td></td>
<td><br /><br /><input type="submit" value=" 변경하기 " class="btnblue" /></td>
</tr>
</table>

</form>