@{
    /*****************************************************************
    //
    //// Programmed by SungHO Kim (Migration: TaiHyung Kim, YoonAh Sim)
    // KimsQ-Rx (for Microsoft ASP.NET WebPages)
    // Copyrights © Redblock Allrights Reserved. Powered by kimsQ-Rx
    // Since 2011.
    //
    *****************************************************************/
    

    var g = PageData[0];
    var _m = PageData[1];
    var m = PageData[3];
    var p = PageData[4];
    var _HS = PageData[5];
    var my = PageData[6];
    var _keyword = PageData[10];
    var _mod = PageData[11];
    var r = PageData[12];

    dynamic date = _System.GetVDate(_HS["timecal"]);

    string sort = Request["sort"];
    string orderby = Request["orderby"];
    string recnum = Request["recnum"];
    string where = Request["where"];
    string keyword = Request["keyword"];
    string front = Request["front"];
    string page = Request["page"];
    string type = Request["type"];
    string iframe = Request["iframe"];
    string skin = Request["skin"];
    string price = Request["price"];
    string sqlque = "";
    string frame_name = "_action_frame_"+m;
    
    decimal TPG = 0;
    
    if (type == null || type == "")
    {
        type = "point";
    }       
    if(sort == null || sort == "") {
        sort = "uid";
    }
    if(orderby == null || orderby == "") {
        orderby = "desc";
	}        
    if(recnum == null || recnum == "" || Convert.ToInt32(recnum) >= 200) {
        recnum = "20";
	}

	sqlque = "my_mbruid="+my["uid"];
    
    if (price == "1")
    {
        sqlque +=  " AND price > 0";    
    }
    if (price == "2")
    {
        sqlque +=  " AND price < 0";
    }
    
    if (where != null && where != "" && keyword != null && keyword != "")
    {
        string where_set = "(";

        char[] delimiter = { '|' };
        string[] strArray = where.Split(delimiter);
        int str_int = 0;

        sqlque = sqlque + " AND ";

        foreach (var tmp in strArray)
        {
            if (str_int > 0)
            {
                where_set = where_set + " OR ";
            }

            where_set = where_set + tmp + " LIKE '%" + keyword + "%'";
            str_int++;
        }
        where_set = where_set + ")";
        sqlque = sqlque + where_set;
    }

    int list_start = (Convert.ToInt32(p)-1) * Convert.ToInt32(recnum);      // 페이지별 리스트 개수
    int NUM = _DB.GetDbData_Count(AppState["table_s_point"].ToString(), sqlque);


    string RCD_sql = _System.GetQuery(AppState["table_s_point"].ToString(), "", sqlque, sort, orderby, list_start, recnum);
    
    TPG = @_System.getTotalPage(Convert.ToDecimal(NUM), Convert.ToDecimal(recnum));     // 총 페이지수
    
    @RenderPage("_menu.cshtml", g, m);                // 개별 페이지 상단 메뉴부
}

<div id="pointlist">

	<div class="info">

		<div class="article">
			<span class="tx">
			<a class="@Html.Raw(_System.isEqual(type, "point", "b hand", "hand"))" onclick="document.hideForm.type.value='point';document.hideForm.submit();">포인트</a> |
			<a class="@Html.Raw(_System.isEqual(type, "cash", "b hand", "hand"))" onclick="document.hideForm.type.value='cash';document.hideForm.submit();">적립금</a> |
			<a class="@Html.Raw(_System.isEqual(type, "money", "b hand", "hand"))" onclick="document.hideForm.type.value='money';document.hideForm.submit();">예치금</a>
			</span>
            @string.Format("{0:#,0}", Convert.ToInt32(my[type]))@Html.Raw(_System.isEqual(type, "point", "P", "원"))
		</div>
		<div class="category">

			<form name="hideForm" action="@g["s"]/" method="get">
			<input type="hidden" name="r" value="@r" />
			<input type="hidden" name="m" value="@m" />
			<input type="hidden" name="iframe" value="@iframe" />
			<input type="hidden" name="front" value="@front" />
			<input type="hidden" name="page" value="@page" />
			<input type="hidden" name="type" value="@type" />
			<select name="price" onchange="this.form.submit();">
			<option value="">&nbsp;+ 전체</option>
			<option value="">-----</option>
			<option value="1" @_System.getSltStr(price, 1)>획득</option>
			<option value="2" @_System.getSltStr(price, 2)>사용</option>
			</select>
			</form>

		</div>
		<div class="clear"></div>
	</div>

	<form name="procForm" action="@g["s"]/" method="post" target="_action_frame_@(m)" onsubmit="return submitCheck(this);">
	<input type="hidden" name="r" value="@r" />
	<input type="hidden" name="m" value="@m" />
	<input type="hidden" name="front" value="@front" />
	<input type="hidden" name="a" value="" />
	<input type="hidden" name="pointType" value="@type" />

	<table summary="포인트 리스트입니다.">
	<caption>포인트</caption> 
	<colgroup> 
	<col width="30"> 
	<col width="50"> 
	<col> 
	<col width="60"> 
	</colgroup> 
	<thead>
	<tr>
	<th scope="col" class="side1"><img src="@g["img_core"]/_public/ico_check_01.gif" class="hand" alt="" onclick="chkFlag('members');" /></th>
	<th scope="col">금액</th>
	<th scope="col">내역</th>
	<th scope="col" class="side2">날짜</th>
	</tr>
	</thead>
	<tbody>

    @foreach (var R in _DB.Query(RCD_sql))
    {
        <tr>
	    <td><input type="checkbox" name="members" value="@R["uid"]" /></td>
	    <td class="cat">@Html.Raw(_System.isEqual(R["price"] > 0, true, "+", "") + string.Format("{0:#,0}", Convert.ToInt32(R["price"]))</td>
	    <td class="sbj">
            @R["content"]
		    @if (_System.getNew(R["d_regis"].ToString(), 24))
            {
                <span class="new">new</span>
            }
	    </td>
	    <td>@R["d_regis"].ToString("yyyy.MM.dd HH:mm")</td>
	    </tr> 
    }

    @if (NUM == 0)
    {
	    <tr>
	    <td><input type="checkbox" disabled="disabled" /></td>
	    <td class="cat">-</td>
	    <td class="sbj1">내역이 없습니다.</td>
	    <td>@date["totime"].ToString("yyyy.MM.dd")</td>
	    </tr>
    }

	</tbody>
	</table>
	

	<div class="pagebox01">
	<script type="text/javascript">getPageLink(10, @p, @TPG, '@g["img_core"]/page/default');</script>
	</div>

	<input type="text" name="category" id="iCategory" value="" class="input none" />
	<input type="button" value="내역정리" class="btngray" onclick="actCheck('point_sum');" />
	<input type="button" value="삭제" class="btngray" onclick="actCheck('point_delete');" />

	</form>
	

</div>


<script type="text/javascript">
//<![CDATA[
    function submitCheck(f) {
        if (f.a.value == '') {
            return false;
        }
    }
    function actCheck(act) {
        var f = document.procForm;
        var l = document.getElementsByName('members');
        var n = l.length;
        var j = 0;
        var i;

        for (i = 0; i < n; i++) {
            if (l[i].checked == true) {
                j++;
            }
        }
        if (!j) {
            alert('선택된 항목이 없습니다.      ');
            return false;
        }

        if (confirm('정말로 실행하시겠습니까?    ')) {
            f.a.value = act;
            f.submit();
        }
    }
//]]>
</script>


